<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
<!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
<!--/*@thymesVar id="amenagements" type="java.util.List<org.esupportail.esupagape.entity.Amenagement>"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="d-inline-flex">
    <div th:replace="fragments/side :: side"></div>
    <div class="agape-content agape-content-side">
        <div class="mb-3">
            <a th:href="@{/dossiers}" class="text-center ">Liste des dossiers</a>
        </div>
        <div th:replace="fragments/tabs-years :: tabs-years"></div>
        <div th:replace="fragments/tabs-content :: tabs-content(active='amenagements')"></div>
        <div class="m-3">
            <div class="row">
                <div class="col-12">
                    <div class="clearfix w-100">
                        <h4 class="float-start mt-3">Aménagements d’examen</h4>
                        <a th:href="'/dossiers/' + ${currentDossier.id} + '/amenagements/create'" title="Ajouter un aménagement d'examen" class="btn btn-primary float-end"><i class="bi bi-plus-lg"></i></a>
                    </div>

                    <table class="table table-striped" >
                        <thead class="text-start mt-2 mb-2 table-info">
                        <tr>
                            <th>Date create</th>
                            <th>Type</th>
                            <th style="width: 200px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="amenagement : ${amenagements}">
                            <tr>
                                <td th:text="${#temporals.format(amenagement.getCreateDate, 'dd/MM/yyyy HH:mm')}"></td>
                                <td th:text="#{'amenagement.type-amenagement.' +${amenagement.getTypeAmenagement()}}"></td>
                                <td><a th:href="'/dossiers/' + ${currentDossier.id} + '/amenagements/' + ${amenagement.id} + '/update'" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                                    <a data-bs-toggle="modal"
                                            href="#"
                                            data-bs-target="#modal-warning"
                                            th:attr="data-bs-target='#modal-warning'+${amenagement.id}"
                                            class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                                    <div class="modal modal-warning fade in" th:id="modal-warning+${amenagement.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form th:action="@{/dossiers/{id}/amenagements/{amenagementId}/delete(id=${currentDossier.id}, amenagementId=${amenagement.id})}"
                                                        th:method="delete">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title fs-5" th:id="'delete-amenagement-label' + ${amenagement.id}">Suppression d'un entretien</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-danger text-center">Confirmez-vous la suppression de
                                                            cet aménagement?
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline pull-left"
                                                                data-bs-dismiss="modal">
                                                            Annuler
                                                        </button>
                                                        <button type="submit" class="btn btn-outline pull-left btn-danger">Supprimer
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div></td>

                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: black"></footer>
<div th:replace="fragments/flash :: flash"></div>
</body>
</html>