<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="d-inline-flex">
	<div class="agape-content">
		<nav th:replace="~{fragments/admin-nav :: nav}"></nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-affectations" role="tabpanel" aria-labelledby="nav-affectations-tab">
				<h1>Affectations</h1>
				<hr>
				<div class="col-6 mx-auto">
					<form th:action="@{/admin/add-user-others-affectations}" method="post" class="d-flex flex-column">
						<div class="mb-3">
							<label for="autocomplete-search-uid" class="form-label">Employé-e-s</label>
							<select id="autocomplete-search-uid" name="uid" class="form-control"></select>
						</div>
						<div class="mb-3">
							<label for="codComposante" class="form-label">Composantes</label>
							<select name="codComposante" id="codComposante" class="form-control">
								<th:block  th:each="codComposanteKey : ${codComposantes.keySet()}">
									<option th:value="${codComposanteKey}"
									        th:text="${codComposanteKey} + ' - ' + ${codComposantes.get(codComposanteKey)}"></option>
								</th:block>
							</select>
						</div>
						<button type="submit" class="btn btn-primary align-self-end">Ajouter</button>
					</form>

					<table class="table table-striped">
						<tr th:each="userOtherAffectation : ${userOthersAffectations}">
							<td th:text="${userOtherAffectation.uid}"></td>
							<td th:text="${userOtherAffectation.codComposante}"></td>
							<td>
								<button type="button" class="btn btn-danger" data-bs-toggle="modal"
								        th:data-bs-target="'#delete-userOthersAffectations-' + ${userOtherAffectation.id}">
									<i class="fa-solid fa-trash"></i>
								</button>
								<div class="modal fade" th:id="'delete-userOthersAffectations-' + ${userOtherAffectation.id}" tabindex="-1"
								     aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-body">
												Confirmez la suppression de l’année ?
												<form th:action="@{/admin/delete-userOthersAffectations}" th:method="delete"
												      class="float-end">
													<input type="hidden" name="id" th:value="${userOtherAffectation.id}">
													<button type="button" class="btn btn-secondary"
													        data-bs-dismiss="modal">
														Annuler
													</button>
													<input class="btn btn-success" type="submit" value="Valider">
												</form>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>
<footer th:replace="~{fragments/footer :: black}"></footer>
<div th:replace="~{fragments/flash :: flash}"></div>
</body>
</html>