<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="d-inline-flex">
	<div class="agape-content">
		<nav th:replace="~{fragments/admin-nav :: nav}"></nav>
		<div class="tab-content" id="nav-tabContent">
			<h1>Module Admin</h1>
		</div>
	</div>
</main>
<footer th:replace="~{fragments/footer :: black}"></footer>
<div th:replace="~{fragments/flash :: flash}"></div>
</body>
</html>