<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main>
            <h1>Admin !!!</h1>
            <hr>
            <a role="button" href="/admin/force-sync" class="btn btn-dark">Forcer la synchro</a>
            <a role="button" href="/admin/sync-individus" class="btn btn-dark">Synchro des individus</a>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
    </body>
</html>