<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="googlebot" content="noindex">
	<meta name="robots" content="noindex">
	<base href="/">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
	<link rel="stylesheet" th:href="@{/css/agape.css}">

	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
	<script th:src="@{js/agape.js}"></script>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.3.0/slimselect.min.js" ></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.3.0/slimselect.css"/>
	<title th:text="#{application.title}"></title>
</head>
</html>
