<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" th:href="@{/individus}">Individus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/}">Scol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/}">Administration</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Outils
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item text-light" href="#">Aides</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-light" href="#">Contacts</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-light" href="#">Aménagements</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-light" href="#">Enquête</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" th:href="@{/admin/}">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>
