<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="amenagement" type="org.esupportail.esupagape.entity.Amenagement"*/-->
<!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <div th:fragment="side" class="agape-side bg-light position-sticky">
        <div class="p-2">
            <span class="fs-6 card bg-primary text-white mb-4 "><span class="ms-3">Aménagement</span></span>
            <div class="container">
                <dt class="col-sm-6">Année du dossier courant</dt>
                <dd class="col-sm-6" th:text="${currentDossier.year} + '-' + ${currentDossier.year + 1}"></dd>
                <dt class="col-sm-6">Année de validation de l’aménagement</dt>
                <dd class="col-sm-6" th:text="${amenagement.dossier.year} + '-' + ${amenagement.dossier.year + 1}"></dd>
                <dt class="col-sm-6">Composante</dt>
                <dd class="col-sm-6" th:text="${amenagement.dossier.composante}"></dd>
                <dt class="col-sm-6">Statut</dt>
                <dd class="col-sm-6" th:text="#{'amenagement.statusAmenagement.' +${amenagement.statusAmenagement}}"></dd>
                <dt class="col-sm-6" th:if="${currentDossier.amenagementPorte != null}">Portabilité effectuée par</dt>
                <dd class="col-sm-6" th:if="${currentDossier.amenagementPorte != null}" th:text="${currentDossier.nomValideurPortabilite}"></dd>
                <dt class="col-sm-6">Nom du médecin</dt>
                <dd class="col-sm-6" th:text="${amenagement.nomMedecin}"></dd>
                <dt class="col-sm-6">Date de fin</dt>
                <!--<dd class="col-sm-6" th:text="#{'amenagement.typeAmenagement.' +${amenagement.typeAmenagement}}"></dd>-->
                <dd class="col-sm-6" th:text="${amenagement.endDate} != null ? ${#temporals.format(amenagement.endDate, 'dd/MM/yyyy')} : #{'amenagement.typeAmenagement.' +${amenagement.typeAmenagement.CURSUS}}"></dd>
                <dt class="col-sm-6">Statut de l’envoi de mail individu</dt>
                <dd th:text="${amenagement.individuSendDate != null} ? ${#temporals.format(amenagement.individuSendDate, 'dd/MM/yyyy')}: 'Non envoyé'"></dd>
            </div>
            <span class="fs-6 card bg-primary text-white mb-4 "><span class="ms-3">Information sur l'individu</span></span>
            <div class="container">
                <dt class="col-sm-6">Type d’individu</dt>
                <dd class="col-sm-6" th:text="#{'dossier.typeIndividu.' + ${currentDossier.type}}"></dd>
                <dt class="col-sm-6">N° Étudiant</dt>
                <dd class="col-sm-6" th:text="${currentDossier.individu.numEtu}"></dd>
                <dt class="col-sm-6">Nom</dt>
                <dd class="col-sm-6" th:text="${#strings.toUpperCase(currentDossier.individu.name)}"></dd>
                <dt class="col-sm-6">Prénom</dt>
                <dd class="col-sm-6" th:text="${#strings.capitalize(#strings.toLowerCase(currentDossier.individu.firstName))}"></dd>
                <dt class="col-sm-6">Date de naissance</dt>
                <dd class="col-sm-6" th:text="${#temporals.format(currentDossier.individu.dateOfBirth, 'dd/MM/yyyy')}"></dd>
                <dt>Email universitaire</dt>
                <dd th:text="${currentDossier.individu.emailEtu}"></dd>
                <dt class="col-sm-6">Téléphone</dt>
                <dd class="col-sm-6" th:text="${currentDossier.individu.contactPhone}"></dd>
                <!--<dt class="col-sm-6">Téléphone fixe</dt>
                <dd class="col-sm-6" th:text="${currentDossier.individu.fixPhone}"></dd>-->
            </div>
        </div>
    </div>
</html>
