<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="side" class="p-3 bg-light" style="width: 400px;">
    <span class="fs-6 card text-bg-primary"><span class="ms-3">Fiche</span></span>
    <hr>
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none">
        <img th:src="'/individus/photo/' + ${individu.id}" alt="" class="me-4" width="90" height="100">
    </a>
    <dl class="row">
        <dt class="col-sm-3">Sexe</dt>
        <dd class="col-sm-9" th:utext="${individu.sex}"></dd>
        <dt class="col-sm-3">N° Étudiant</dt>
        <dd class="col-sm-9" th:utext="${individu.numEtu}"></dd>
        <dt class="col-sm-3">Nom</dt>
        <dd class="col-sm-9" th:utext="${individu.name}"></dd>
        <dt class="col-sm-3">Prénom</dt>
        <dd class="col-sm-9" th:utext="${individu.firstName}"></dd>
        <dt class="col-sm-3">Login</dt>
        <dd class="col-sm-9" th:utext="${individu.eppn}"></dd>
        <dt class="col-sm-3">Date de naissance</dt>
        <dd class="col-sm-9" th:utext="${individu.dateOfBirth}"></dd>
        <dt class="col-sm-3">Type d'individu</dt>
        <dd class="col-sm-9" th:utext="${currentDossier.type.displayValue}"></dd>
        <dt class="col-sm-3">Statut du dossier</dt>
        <dd class="col-sm-9" th:utext="${currentDossier.statusDossier.displayValue}"></dd>
        <dt class="col-sm-3">Age</dt>
        <dd class="col-sm-9" th:utext="|${age} ans|"></dd>
    </dl>
    <span class="fs-6 card text-bg-primary"><span class="ms-3">Contacts</span></span>
    <hr>
    <dl class="row">
        <dt class="col-sm-3">Email universitaire</dt>
        <dd class="col-sm-9" th:utext="${individu.emailEtu}"></dd>
        <dt class="col-sm-3">Email personnel</dt>
        <dd class="col-sm-9" th:utext="${individu.emailPerso}"></dd>
        <dt class="col-sm-3">Téléphone portable</dt>
        <dd class="col-sm-9" th:utext="${individu.mobilPhone}"></dd>
        <dt class="col-sm-3">Téléphone fixe</dt>
        <dd class="col-sm-9" th:utext="${individu.fixPhone}"></dd>
        <dt class="col-sm-3">Téléphone du responsable</dt>
        <dd class="col-sm-9" th:utext="${individu.contactPhone}"></dd>
        <dt class="col-sm-3">Date de naissance</dt>
        <dd class="col-sm-9" th:utext="${individu.dateOfBirth}"></dd>
    </dl>
    <span class="fs-6 card text-bg-primary"><span class="ms-3">Adresses</span></span>
    <hr>
    <div class="accordion" id="accordionExample">
        <dl class="accordion-item">
            <dt class="accordion-header" id="headingOne">
                            <span class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               Adresse annuelle
                            </span>
            </dt>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <dd th:text="${individu.currentAddress}"></dd>
                    <dd th:text="${individu.currentCP}"></dd>
                    <dd th:text="${individu.currentCity}"></dd>
                </div>
            </div>
            <dt class="accordion-header" id="headingtwo">
                            <span class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Adresse fixe
                            </span>
            </dt>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <dd th:text="${individu.fixAddress}"></dd>
                    <dd th:text="${individu.fixCP}"></dd>
                    <dd th:text="${individu.fixCity}"></dd>
                </div>
            </div>
        </dl>
    </div>
</div>
</html>
