<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="tabs-content">
        <nav class="mt-4">
            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                <li class="nav-item dropdown">
                    <a class="nav-link" th:href="@{/dossiers/{id}(id=${currentDossier.id})}" th:classappend="${active == 'dossier' ? 'active' : ''}">Dossier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dossiers/{id}/entretiens(id=${currentDossier.id})}" th:classappend="${active == 'entretiens' ? 'active' :' '}"> Entretiens
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" th:classappend="${active == 'aides' ? 'active' : ''}">Aides</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href=""> Aides humaines</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=""> Aides matérielles</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=""> Archives aménagements examens</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=""> Suivi handisup</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/dossiers/{id}/enquetes(id=${currentDossier.id})}" th:classappend="${active == 'enquete' ? 'active' :' '}"> Enquête</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${active == 'amenagement' ? 'active' : ''}"> Aménagements d'examen</a>
                </li>
            </ul>
        </nav>
    </div>
</html>
