<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="enquete" type="org.esupportail.esupagape.entity.Enquete"*/-->
    <!--/*@thymesVar id="enumLibelleCodMeahFs" type="java.util.List<org.esupportail.esupagape.entity.enums.enquete.LibelleCodMeahF>"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="d-inline-flex">
            <div class="float-buttons">
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#update-individu-modal" type="button"><i class="bi bi-person-fill-gear" style="font-size: 20px;"></i></button>
                <button id="save-btn" class="btn btn-success">
                    <svg style="color: white; width: 20px; margin-bottom: 3px; margin-left: 1px;"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M433.1 129.1l-83.9-83.9C342.3 38.32 327.1 32 316.1 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64V163.9C448 152.9 441.7 137.7 433.1 129.1zM224 416c-35.34 0-64-28.66-64-64s28.66-64 64-64s64 28.66 64 64S259.3 416 224 416zM320 208C320 216.8 312.8 224 304 224h-224C71.16 224 64 216.8 64 208v-96C64 103.2 71.16 96 80 96h224C312.8 96 320 103.2 320 112V208z"
                                fill="white"></path>
                    </svg>
                </button>
            </div>
            <div th:replace="fragments/side :: side"></div>
            <div class="agape-content agape-content-side">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/dossiers}" class="text-center ">Liste des dossiers</a>
                        </li>
                        <li class="breadcrumb-item">Enquête</li>
                    </ol>
                </nav>
                <div th:replace="fragments/tabs-years :: tabs-years"></div>
                <div th:replace="fragments/tabs-content :: tabs-content(active='enquete')"></div>
                <div class="m-3">
                    <form id="enquete"
                            class="form-horizontal"
                            th:method="put"
                            th:action="@{/dossiers/{id}/enquete/{enqueteId}/update(id=${currentDossier.id},enqueteId=${enquete.id})}"
                            th:object="${enquete}">
                        <input th:field="*{dossier}" type="hidden" readonly class="form-control">
                        <div class="row">
                            <div class="col-lg-6">
                                <div>
                                    <div>
                                        <label class="mt-3 form-label" th:for="an">Année de naissance</label>
                                        <div>
                                            <input disabled
                                                    readonly
                                                    id="an"
                                                    name="an"
                                                    class="form-control"
                                                    type="text"
                                                    th:value="${#temporals.format(currentDossier.individu.dateOfBirth, 'dd/MM/yyyy')}">
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="genders">Genre</label>
                                        <div>
                                            <select name="gender" class="form-select" size="1" th:disabled="${enquete.gender != null}">
                                                <option disabled selected value="nul">Choisir</option>
                                                <option th:selected="${gender == enquete.gender}"
                                                        th:each="gender : ${genders}"
                                                        th:value="${enquete.gender}"
                                                        th:text="#{'individu.gender.' + ${gender}}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="mt-1 form-label" th:for="typeFrmn">Type formation</label>
                                    <div>
                                        <select id="typeFormation" name="typeFrmn" type="text" class="form-select" th:disabled="${enquete.typeFrmn != null}">
                                            <option disabled selected value="">Choisir</option>
                                            <option th:selected="${enquete.typeFrmn == typeFrmn}"
                                                    th:each="typeFormation : ${typeFrmns}"
                                                    th:text="#{'enquete.typeFrmn.' +${typeFormation}}"
                                                    th:value="${typeFormation}"></option>
                                        </select>
                                    </div>

                                    <label class="mt-1 form-label" th:for="modFrmn">Modalité formation</label>
                                    <div>
                                        <select id="modeFormation" name="modFrmn" type="text" class="form-select" th:disabled="${enquete.modFrmn != null}">
                                            <option disabled selected value="">Choisir</option>
                                            <option th:selected="${enquete.modFrmn == modFrmn}"
                                                    th:each="modeFormation : ${modFrmns}"
                                                    th:text="#{'enquete.modFrmn.' +${modeFormation}}"
                                                    th:value="${modeFormation}"></option>
                                        </select>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codFil">Discipline</label>
                                        <div>
                                            <select id="_codFil_id" name="codFil" class="form-select" size="1">
                                                <option disabled selected value="">Choisir</option>
                                                <option th:selected="${enumCodfil == enquete.codFil}"
                                                        th:each="enumCodfil : ${codFils}"
                                                        th:value="${enumCodfil}"
                                                        th:text="#{'enquete.codFil.' + ${enumCodfil}}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codFmt">Formation</label>
                                        <div>
                                            <select id="_codFmt_id" name="codFmt" class="form-select" size="1">
                                                <option disabled selected value="">Choisir</option>
                                                <option th:selected="${enumCodFmt == enquete.codFmt}"
                                                        th:each="enumCodFmt : ${codFmts}"
                                                        th:value="${enumCodFmt}"
                                                        th:text="#{'enquete.codFmt.' + ${enumCodFmt}}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codSco">Année d’études</label>
                                        <div>
                                            <select id="_codSco_id" name="codSco" class="form-select" size="1">
                                                <option disabled selected value="nul">Choisir</option>
                                                <option th:selected="${enumCodSco == enquete.codSco}"
                                                        th:each="enumCodSco : ${codScos}"
                                                        th:value="${enumCodSco}"
                                                        th:text="#{'enquete.codSco.' + ${enumCodSco}}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codHd">Type de handicap</label>
                                        <div>
                                            <select id="_codHd_id" name="codHd" class="form-select" size="1">
                                                <option disabled selected value="nul">Choisir</option>
                                                <option th:selected="${enumCodHd == enquete.codHd}"
                                                        th:each="enumCodHd : ${codHds}"
                                                        th:value="${enumCodHd}"
                                                        th:text="#{'enquete.codHd.' + ${enumCodHd}}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <input th:field="*{hdTmp}" type="checkbox" th:checked="${hdTmp}" style="width: 15px; height: 15px;">
                                        <label class="form-label mt-2" th:for="hdTmp">Handicap temporaire
                                        </label>
                                    </div>
                                    <div>
                                        <label th:for="com" class="mt-1 form-label">Commentaire</label>
                                        <div>
                                            <textarea th:field="*{com}" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codPfpp">Plan d’accompagnement</label>
                                        <div>
                                            <select id="_codPfpp_id" name="codPfpp" class="form-select" size="1">
                                                <option disabled selected value="nul">Choisir</option>
                                                <option th:selected="${enumCodpfpp == enquete.codPfpp}"
                                                        th:each="enumCodpfpp : ${codPfpps}"
                                                        th:value="${enumCodpfpp}"
                                                        th:text="#{'enquete.codPfpp.' + ${enumCodpfpp}}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codPfas">Aménagement spécifique</label>
                                        <div>
                                            <select id="_codPfas_id" name="codPfas" class="form-select" size="1">
                                                <option disabled selected value="nul">Choisir</option>
                                                <option th:selected="${enumCodPfas == enquete.codPfas}"
                                                        th:each="enumCodPfas : ${codPfass}"
                                                        th:value="${enumCodPfas}"
                                                        th:text="#{'enquete.codPfas.' + ${enumCodPfas}}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codMeahF">Aide humaine spécifique</label>
                                        <div>
                                            <div class="d-inline me-2">
                                                <input id="AHS0Off"
                                                        name="AHS0"
                                                        type="radio"
                                                        th:value="AHS0"
                                                        th:checked="${enquete.codMeahF.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodMeahF).AHS0)}">
                                                <label for="AHS0Off">Aucune aide humaine spécifique</label>
                                            </div>
                                            <div class="d-inline">
                                                <input id="AHS0On"
                                                        name="AHS0"
                                                        type="radio"
                                                        value=""
                                                        th:checked="${!enquete.codMeahF.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodMeahF).AHS0)}">
                                                <label for="AHS0On">L'étudiant bénéficie d’aide(s) humaine(s) spécifique(s)</label>
                                            </div>
                                            <div id="codMeahFDiv"
                                                    th:classappend="${enquete.codMeahF.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodMeahF).valueOf('AHS0'))} ? 'd-none' : ''">
                                                <th:block th:each="enumLibelleCodMeahF : ${libelleCodMeahFs}">
                                                    <div class="mt-2">
                                                        <label class="text-decoration-underline"
                                                                th:for="${enumLibelleCodMeahF}"
                                                                th:text="#{'enquete.libelleCodMeahF.' + ${enumLibelleCodMeahF}}"></label>
                                                        <br />
                                                        <th:block th:each="codMeahF : ${codMeahFs}"
                                                                th:if="${!enumLibelleCodMeahF.equals(T(org.esupportail.esupagape.entity.enums.enquete.LibelleCodMeahF).AHS4)}">
                                                            <input th:name="${enumLibelleCodMeahF}"
                                                                    th:type="${codMeahF.name().startsWith('AHS1') || codMeahF.name().startsWith('AHS2')} ? 'checkbox' : 'radio'"
                                                                    th:value="${codMeahF}"
                                                                    th:if="${codMeahF.name().startsWith(enumLibelleCodMeahF.name())}"
                                                                    th:checked="${enquete.codMeahF.contains(codMeahF)}">
                                                            <label class="me-2" th:text="#{'enquete.codMeahF.' + ${codMeahF}}" th:if="${codMeahF.name().startsWith(enumLibelleCodMeahF.name())}"></label>
                                                        </th:block>
                                                        <th:block th:if="${enumLibelleCodMeahF.equals(T(org.esupportail.esupagape.entity.enums.enquete.LibelleCodMeahF).AHS4)}">
                                                            <input th:name="${enumLibelleCodMeahF}"
                                                                    type="radio"
                                                                    value="on"
                                                                    th:checked="${enquete.codMeahF.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodMeahF).AHS4)}">
                                                            <label class="me-2">Oui</label>
                                                            <input th:name="${enumLibelleCodMeahF}"
                                                                    type="radio"
                                                                    value="off"
                                                                    th:checked="${!enquete.codMeahF.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodMeahF).AHS4)}">
                                                            <label>Non</label>
                                                        </th:block>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <div>
                                        <label class="mt-3 form-label" th:for="interpH">Interprète: nombre d'heures</label>
                                        <div>
                                            <input th:field="*{interpH}" class="form-control" type="text" value="">
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codeurH">Codeur: nombre d'heures</label>
                                        <div>
                                            <input th:field="*{codeurH}" class="form-control" type="text" value="">
                                        </div>
                                    </div>
                                    <div>
                                        <label th:for="aidHNat" class="mt-1 form-label">Autre aide humaine</label>
                                        <div>
                                            <textarea th:field="*{aidHNat}" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codMeae">Aménagement des examens</label>
                                        <div>
                                            <select multiple id="codMeae" th:field="*{codMeae}" class="agape-slim-select-search">
                                                <option th:checked="${enquete.codMeae.contains(codMeaes)}"
                                                        th:each="enumCodMeae : ${codMeaes}"
                                                        th:value="${enumCodMeae}"
                                                        th:text="#{'enquete.codMeae.' + ${enumCodMeae}}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label th:for="autAE" class="mt-1 form-label">Autre aménagement des examens</label>
                                        <div>
                                            <textarea th:field="*{autAE}" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="mt-1 form-label" th:for="codMeaa">Autres aides</label>
                                        <div>
                                            <select id="_codMeaa_id" name="codMeaa" class="form-select" size="1">
                                                <option disabled selected value="nul">Choisir</option>
                                                <option th:selected="${enumCodmeaa == enquete.codMeaa}"
                                                        th:each="enumCodmeaa : ${codMeaas}"
                                                        th:value="${enumCodmeaa}"
                                                        th:text="#{'enquete.codMeaa.' + ${enumCodmeaa}}"></option>
                                            </select>
                                        </div>
                                        <div>
                                            <label th:for="autAA" class="mt-1 form-label">Aides autres</label>
                                            <div>
                                                <textarea th:field="*{autAA}" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="mt-1 form-label" th:for="codAmL">Autres mesures relevant ou non de la compétence de la CDAPH</label>
                                            <div>
                                                <div class="d-inline">
                                                    <input id="AM0On"
                                                            name="AM0"
                                                            type="radio"
                                                            th:value="AM00"
                                                            th:checked="${enquete.codAmL.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodAmL).valueOf('AM00'))}">
                                                    <label for="AM0On">Ne sais pas si l’étudiant en bénéficie</label>
                                                </div>
                                                <div class="d-inline">
                                                    <input id="AM0Off"
                                                            name="AM0"
                                                            type="radio"
                                                            value=""
                                                            th:checked="${!enquete.codAmL.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodAmL).valueOf('AM00'))}">
                                                    <label for="AM0Off">L'étudiant bénéficie de mesures</label>
                                                </div>
                                                <div id="codAmLDiv"
                                                        th:classappend="${enquete.codAmL.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodAmL).valueOf('AM00'))} ? 'd-none' : ''">
                                                    <th:block th:each="enumLibelleCodAmL : ${libelleCodAmLs}">
                                                        <div>
                                                            <label class="text-decoration-underline mt-2"
                                                                    th:for="${enumLibelleCodAmL}"
                                                                    th:text="#{'enquete.libelleCodAmL.' + ${enumLibelleCodAmL}}"></label>
                                                            <br />
                                                            <div class="d-inline">
                                                                <input th:name="${enumLibelleCodAmL}"
                                                                        type="radio"
                                                                        th:value="${enumLibelleCodAmL} + '0'"
                                                                        th:checked="${enquete.codAmL.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodAmL).valueOf(enumLibelleCodAmL + '0'))}">
                                                                <label th:for="${enumLibelleCodAmL}" class="me-2">Non</label>
                                                                <input th:name="${enumLibelleCodAmL}"
                                                                        type="radio"
                                                                        th:value="${enumLibelleCodAmL} + '1'"
                                                                        th:checked="${enquete.codAmL.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodAmL).valueOf(enumLibelleCodAmL + '1'))}">
                                                                <label th:for="${enumLibelleCodAmL}" class="me-2">Oui</label>
                                                                <input th:name="${enumLibelleCodAmL}"
                                                                        type="radio"
                                                                        th:value="${enumLibelleCodAmL} + 'X'"
                                                                        th:checked="${enquete.codAmL.contains(T(org.esupportail.esupagape.entity.enums.enquete.CodAmL).valueOf(enumLibelleCodAmL + 'X'))}">
                                                                <label th:for="${enumLibelleCodAmL}" class="me-2">Ne sais pas</label>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="submit mb-3 mt-3">
                                            <div class="btn-group"><span class="visible-lg-block visible-md-block visible-sm-block">
                                                <input class="btn btn-success form-submit-btn d-none" value="Enregistrer" type="submit"></span><span class="visible-xs-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
        <div th:replace="individus/modal-update :: update"></div>
    </body>
</html>