html {
    /*position: relative;*/
    height: 100% !important;
    /*font-size: 16px;*/
}

body {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}
.d-flex {
    max-width: 600px;
}
