<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main>
            <h1 class="title-create text-center mt-5">Ajout d'un individu</h1>
            <form class="container" th:method="post" th:action="@{/individus/create}" th:object="${individu}">
                <div class="row mb3">
                    <label th:for="numEtu" class="col-md-2 col-form-label mb-1">Numéro étudiant</label>
                    <div class="col-sm-10">
                        <input th:field="*{numEtu}" type="text" class="form-control">
                        <p th:if="${#fields.hasErrors('numEtu')}" th:errorclass="error" th:errors="*{numEtu}"></p>
                    </div>
                    <label th:for="force" class="col-md-2 col-form-label mb-1">Forcer l’ajout</label>
                    <div class="col-sm-10">
                        <input name="force" type="checkbox" class="form-check-input">
                    </div>
                    <label th:for="name" class="col-md-2 col-form-label mb-1">Nom</label>
                    <div class="col-sm-10">
                        <input th:field="*{name}" type="text" class="form-control">
                        <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
                    </div>
                    <label th:for="firstName" class="col-md-2 col-form-label mb-1">Prénom</label>
                    <div class="col-sm-10">
                        <input th:field="*{firstName}" type="text" class="form-control" />
                        <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"></p>
                    </div>
                    <label th:for="dateOfBirth" class="col-md-2 col-form-label mb-1">Année de naissance</label>
                    <div class="col-sm-10">
                        <input th:field="*{dateOfBirth}" type="date" class="form-control mb-1" />
                        <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errorclass="error" th:errors="*{dateOfBirth}"></p>
                    </div>
                    <label th:for="sex" class="col-md-2 col-form-label mb-1">Sexe</label>
                    <div class="col-sm-10">
                        <div class="col-sm-10">
                            <input th:field="*{sex}" type="text" class="form-control">
                            <p th:if="${#fields.hasErrors('sex')}" th:errorclass="error" th:errors="*{sex}"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-lg mt-4" type="submit">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <a th:href="@{/individus}" class="text-center">Retour à la liste des individus</a>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
    </body>
</html>