<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main>
            <section class="text-center">
                <h1 class="mt-3">Liste des Individus</h1>
                <a class="btn btn-primary" th:href="@{/individus/create}" type="button">Ajouter</a>
                <div class="container">
                    <div class="container">
                        <form th:action="@{/individus/search}" method="get">
                            <label class="label-list">Rechercher:</label>
                            <input class="mt-2 mb-4" type="text" name="name" id="name" size="50" th:value="${name}" /> &nbsp;
                            <input class="btn btn-success ms-2 mb-1" type="submit" value="Valider" /> &nbsp;
                            <a role="button" class="btn btn-secondary ms-2 mb-1" type="button" id="btnClear" th:href="@{/individus/}">Effacer</a>
                        </form>
                        <table class="table table-striped">
                            <thead class="text-center mt-2 mb-2">
                                <tr>
                                    <th scope="col">
                                        <a class="sorted" sd:pagination-sort="numEtu">NUMERO ETUDIANT</a>
                                    </th>
                                    <th scope="col">
                                        <a class="sorted" sd:pagination-sort="name">NOM</a>
                                    </th>
                                    <th scope="col">
                                        <a class="sorted" sd:pagination-sort="firstName">PRENOM</a>
                                    </th>
                                    <th scope="col">
                                        <a class="sorted" sd:pagination-sort="dateOfBirth">DATE DE NAISSANCE</a>
                                    </th>
                                    <th scope="col">
                                        <a class="sorted" sd:pagination-sort="sex">SEXE</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr th:each="individu : ${individus}">
                                    <td th:utext="${individu.numEtu}"></td>
                                    <td th:utext="${individu.name}"></td>
                                    <td th:utext="${individu.firstName}"></td>
                                    <td th:utext="${individu.dateOfBirth}"></td>
                                    <td th:utext="${individu.sex}"></td>
                                    <td class="container">
                                        <a class="btn btn-info" th:href="@{/individus/{id}(id=${individu.id})}" role="button"><i class="bi bi-eye"></i>
                                        </a>
                                        <a data-bs-toggle="modal"
                                                href="#"
                                                data-bs-target="#modal-warning"
                                                th:attr="data-bs-target='#modal-warning'+${individu.id}"
                                                class="btn btn-danger"
                                                sec:authorize="hasRole('ROLE_ADMIN')"><i class="bi bi-x"></i></a>
                                        <div class="modal modal-warning fade in" th:id="modal-warning+${individu.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form th:action="@{/admin/delete/{id}(id=${individu.id})}" th:method="delete">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Suppression d'un individu</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="alert alert-danger text-center">Confirmez-vous la suppression de cet individu : <br />
                                                                <span th:text="'Numéro étudiant:' + ' ' + ${individu.id} + ' ' + '(' + 'nom = ' + ${individu.name} + ')'"
                                                                        class="font-weight-bold"></span> ?
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">
                                                                Annuler
                                                            </button>
                                                            <button type="submit" class="btn btn-outline pull-left btn-danger" sec:authorize="hasRole('ROLE_ADMIN')">Supprimer
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav th:fragment="pagination" id="pagination" aria-label="pagination">
                            <div class="col-lg-12 text-center">
                                <div sd:pagination-summary="">info</div>
                            </div>
                            <ul class="d-print-none pagination justify-content-center" sd:pagination="full"></ul>
                        </nav>
                    </div>
                </div>
            </section>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
    </body>
</html>