<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="d-inline-flex">
    <div th:replace="~{fragments/side-administratif :: side}"></div>
    <div class="float-buttons">
        <button title="Valider l'aménagement" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#validationModal"
                th:if="${validationReferentsEnabled && amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}">
            <i class="fa-solid fa-check"></i>
        </button>
    </div>
    <div class="agape-content agape-content-side">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/referent/amenagements" class="text-center">Liste des aménagements</a>
                </li>
            </ol>
        </nav>
        <div class="col-12 text-center" style="height: calc(100vh - 240px);">
            <div class="alert alert-info"
                 th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_REFERENT)}">
                Cet aménagement a déjà été validé par un référent.
            </div>
            <div class="alert alert-danger"
                 th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).REFUSE_ADMINISTRATION)}">
                Cet aménagement a été refusé par l’administration.
            </div>
            <embed th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)
                || amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_REFERENT)
                || amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).REFUSE_ADMINISTRATION)
                || amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VISE_ADMINISTRATION)}"
                   th:src="@{/dossiers/{dossierId}/amenagements/{amenagementId}/get-avis?disposition=inline#toolbar=0&navpanes=0&scrollbar=0&zoom=100(dossierId=${amenagement.lastDossierAmenagement.dossier.id}, amenagementId=${amenagement.id})}"
                   width="80%" height="1000" aria-expanded="false"/>
        </div>
    </div>
</main>

<div class="modal fade" id="validationModal" tabindex="-1" aria-labelledby="validationModalLabel" aria-hidden="true"
     th:if="${validationReferentsEnabled && amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="validationModalLabel">Valider l’aménagement pour transmission à l’administration</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:method="post" th:action="@{/referent/amenagements/{amenagementId}/validation(amenagementId=${amenagement.id})}">
                <div class="modal-body">
                    Merci de confirmer la validation de l’aménagement.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: black}"></footer>
<div th:replace="~{fragments/flash :: flash}"></div>
</body>
</html>
