<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="d-inline-flex">
    <div th:replace="~{fragments/side-administratif :: side}"></div>
    <div class="float-buttons">
        <a th:href="@{/referent/amenagements/{amenagementId}/get-avis(amenagementId=${amenagement.id})}" target="_blank"
           class="btn btn-primary" title="Afficher l'avis médical">
            <i class="fa-solid fa-book-medical" style="font-size: 22px"></i>
        </a>
        <button title="Marquer comme lu" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#markAsViewModal" th:unless="${amenagement.viewByUid.contains(personLdap.uid)}">
            <i class="fa-regular fa-flag"></i>
        </button>
        <button title="Marquer comme non lu" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#markAsNotViewModal" th:if="${amenagement.viewByUid.contains(personLdap.uid)}">
            <span class="fa-stack">
                <i class="fa-regular fa-flag" style="margin-left: -15px;"></i>
                <i class="fa-solid fa-slash fa-stack-1x" style="margin-left: -6px; margin-top: -3px;"></i>
            </span>
        </button>
    </div>
    <div class="agape-content agape-content-side">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/referent/amenagements" class="text-center">Liste des aménagements</a>
                </li>
            </ol>
        </nav>
        <dl>
            <dt class="col-sm-2">Formation actuelle</dt>
            <dd class="col-sm-10" th:text="${currentYear} + '-' + ${currentYear + 1} + ' : ' + ${currentForm}"></dd>
        </dl>
        <div class="agape-tab-content bg-white p-3">
            <div class="alert alert-info" th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_REFERENT)}">
                Cet aménagement a déjà été transmis à l’administration par un référent.
            </div>
            <div class="alert alert-warning" th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VISE_ADMINISTRATION)}">
                Cet aménagement a déjà été validé par l’administration.
            </div>
            <form id="amenagementForm" th:method="put"
                  th:action="@{/referent/amenagements/{amenagementId}/update(amenagementId=${amenagement.id})}"
                  th:object="${amenagementDto}">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="row mb-1">
                            <div class="col-4" style="width: 250px;">
                                <label class="form-label">Type d’aménagement</label>
                            </div>
                            <div class="col-12 col-xxl-8">
                                <input type="text" class="form-control" th:value="${#messages.msg('amenagement.typeAmenagement.' + amenagement.typeAmenagement)}" disabled>
                            </div>
                        </div>
                        <div class="row mb-1" th:if="${amenagement.endDate != null}">
                            <div class="col-4" style="width: 250px;">
                                <label class="form-label">Date de fin</label>
                            </div>
                            <div class="col-12 col-xxl-8">
                                <input type="text" class="form-control" th:value="${#temporals.format(amenagement.endDate, 'dd/MM/yyyy')}" disabled>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-4" style="width: 250px;">
                                <label class="form-label">Types d’épreuves</label>
                            </div>
                            <div class="col-12 col-xxl-8">
                                <div class="form-control">
                                    <th:block th:each="typeEpreuve, iter : ${amenagement.typeEpreuves}">
                                        <span th:text="#{'amenagement.typeEpreuve.' + ${typeEpreuve}}"></span><span th:unless="${iter.last}">, </span>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-4" style="width: 250px;">
                                <label class="form-label">Temps majoré</label>
                            </div>
                            <div class="col-12 col-xxl-8">
                                <input type="text" class="form-control" name="tempsMajore" th:value="${amenagement.tempsMajore}" hidden>
                                <input type="text" class="form-control" th:value="${#messages.msg('amenagement.tempsMajore.' + amenagement.tempsMajore)}" disabled>
                            </div>
                        </div>
                        <div class="row mb-1" th:if="${amenagement.autresTempsMajores != null && !amenagement.autresTempsMajores.isBlank()}">
                            <div class="col-4" style="width: 250px;">
                                <label class="form-label">Autres temps majorés</label>
                            </div>
                            <div class="col-12 col-xxl-8">
                                <input type="text" class="form-control" th:value="${amenagement.autresTempsMajores}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="alert alert-secondary">
                            Le commentaire de validation est obligatoire pour les lignes au statut "Refusé" ou "Modifié". Les lignes ajoutées par le référent sont validées d’office.
                        </div>

                        <div class="mb-2"
                             th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}">
                            <label class="form-label" for="typeLigneAmenagementSelect">Ajouter un aménagement</label>
                            <div class="input-group">
                                <select id="typeLigneAmenagementSelect" class="form-select">
                                    <option value="" selected disabled>Choisir un aménagement</option>
                                    <option th:each="type : ${typeLigneAmenagements}"
                                            th:value="${type.id}"
                                            th:text="${type.ordre != null ? type.ordre + ' - ' + type.libelle : type.libelle}"
                                            th:attr="data-libelle=${type.ordre != null ? type.ordre + ' - ' + type.libelle : type.libelle}, data-champ-libre=${type.champLibre}">
                                    </option>
                                </select>
                                <button id="add-ligne-amenagement" type="button" class="btn btn-outline-primary">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <table class="table table-sm align-middle">
                            <thead>
                            <tr>
                                <th style="width: 40px;"></th>
                                <th>Aménagement</th>
                                <th>Précision</th>
                                <th style="width: 220px;">Décision référent</th>
                                <th>Commentaire</th>
                                <th style="width: 60px;"></th>
                            </tr>
                            </thead>
                            <tbody id="lignesAmenagementBody">
                            <tr th:each="ligne, i : *{lignesAmenagement}"
                                th:attr="data-type-id=*{lignesAmenagement[__${i.index}__].typeLigneAmenagementId}">
                                <input type="hidden"
                                       th:name="'lignesAmenagement[' + ${i.index} + '].id'"
                                       th:value="*{lignesAmenagement[__${i.index}__].id}">
                                <input type="hidden"
                                       th:name="'lignesAmenagement[' + ${i.index} + '].selected'"
                                       value="true">
                                <input type="hidden"
                                       th:name="'lignesAmenagement[' + ${i.index} + '].typeLigneAmenagementId'"
                                       th:value="*{lignesAmenagement[__${i.index}__].typeLigneAmenagementId}">
                                <td>
                                    <input type="checkbox"
                                           class="form-check-input"
                                           th:id="'ligne-' + ${i.index}"
                                           th:checked="*{lignesAmenagement[__${i.index}__].selected}"
                                           disabled>
                                </td>
                                <td>
                                    <label th:for="'ligne-' + ${i.index}"
                                           th:text="${(ligne.ordre != null ? ligne.ordre + ' - ' : '') + (ligne.champLibre ? ligne.libelleLibre : ligne.libelle)}"></label>
                                    <small class="text-muted" th:if="${ligne.champLibre}" th:text="${ligne.libelle}"></small>
                                    <input th:if="${ligne.champLibre && ligne.id == null}"
                                           type="text"
                                           class="form-control form-control-sm mt-1"
                                           th:name="'lignesAmenagement[' + ${i.index} + '].libelleLibre'"
                                           th:value="*{lignesAmenagement[__${i.index}__].libelleLibre}"
                                           placeholder="Précisez..."
                                           th:disabled="${!amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}">
                                </td>
                                <td>
                                    <span th:if="${ligne.id != null}" th:text="${ligne.commentairePrecision}"></span>
                                    <input th:if="${ligne.id == null}"
                                           type="text"
                                           class="form-control form-control-sm"
                                           th:name="'lignesAmenagement[' + ${i.index} + '].commentairePrecision'"
                                           th:value="*{lignesAmenagement[__${i.index}__].commentairePrecision}"
                                           placeholder="Précision (ex : nom du logiciel)"
                                           th:disabled="${!amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}">
                                </td>
                                <td>
                                    <select class="form-select"
                                            th:name="'lignesAmenagement[' + ${i.index} + '].statut'"
                                            th:value="*{lignesAmenagement[__${i.index}__].statut}"
                                            th:if="${ligne.id != null}"
                                            th:disabled="${!amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}">
                                        <option value="" hidden>Choisir</option>
                                        <option th:each="statut : ${statutsLigneAmenagement}"
                                                th:value="${statut}"
                                                th:selected="${statut.equals(ligne.statut)}"
                                                th:text="#{'ligneAmenagement.statut.' + ${statut}}"></option>
                                    </select>
                                    <span th:if="${ligne.id == null}" class="text-muted">Ajoutée et validée d’office</span>
                                </td>
                                <td>
                                    <textarea class="form-control"
                                              rows="2"
                                              th:name="'lignesAmenagement[' + ${i.index} + '].commentaireValidation'"
                                              th:text="*{lignesAmenagement[__${i.index}__].commentaireValidation}"
                                              th:if="${ligne.id != null}"
                                              th:disabled="${!amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}"></textarea>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <div class="float-buttons">
                            <button type="button"
                                    id="save-button"
                                    class="btn btn-success"
                                    title="Enregistrer les modifications du référent"
                                    th:if="${validationReferentsEnabled && amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}">
                                <i class="fa-solid fa-save me-1"></i>
                            </button>
                            <button type="button"
                                    id="send-button"
                                    class="btn btn-success"
                                    title="Enregistrer puis transmettre à l'administration"
                                    th:if="${validationReferentsEnabled && amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDE_MEDECIN)}">
                                <i class="fa-solid fa-paper-plane me-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<div class="modal fade" id="markAsViewModal" tabindex="-1" aria-labelledby="markAsViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="markAsViewModalLabel">Marquer cet aménagement comme lu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:method="post" th:action="@{'/referent/amenagements/' + ${amenagement.id} + '/viewed'}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="markAsNotViewModal" tabindex="-1" aria-labelledby="markAsNotViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="markAsNotViewModalLabel">Marquer cet aménagement comme non lu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:method="post" th:action="@{'/referent/amenagements/' + ${amenagement.id} + '/not-viewed'}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: black}"></footer>
<div th:replace="~{fragments/flash :: flash}"></div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const select = document.getElementById('typeLigneAmenagementSelect');
        const addButton = document.getElementById('add-ligne-amenagement');
        const tbody = document.getElementById('lignesAmenagementBody');

        if (!select || !addButton || !tbody) {
            return;
        }

        function refreshIndexes() {
            tbody.querySelectorAll('tr').forEach((row, index) => {
                row.querySelectorAll('[name]').forEach(input => {
                    input.name = input.name.replace(/lignesAmenagement\[\d+]/, `lignesAmenagement[${index}]`);
                });
            });
        }

        function updateAvailableOptions() {
            const selectedTypeIds = Array.from(tbody.querySelectorAll('tr'))
                .map(row => row.dataset.typeId);

            Array.from(select.options).forEach(option => {
                if (!option.value) {
                    return;
                }

                option.disabled = selectedTypeIds.includes(option.value);
            });

            select.value = '';
        }

        function escapeHtml(value) {
            const div = document.createElement('div');
            div.textContent = value || '';
            return div.innerHTML;
        }

        function createLigneAmenagementRow(typeId, libelle, champLibre) {
            const index = tbody.querySelectorAll('tr').length;
            const row = document.createElement('tr');
            row.dataset.typeId = typeId;

            const escapedLibelle = escapeHtml(libelle);

            const libelleLibreInput = champLibre
                ? `
                    <input type="text"
                           class="form-control form-control-sm mt-1"
                           name="lignesAmenagement[${index}].libelleLibre"
                           placeholder="Précisez...">
                `
                : '';

            row.innerHTML = `
                <td>
                    <input type="hidden" name="lignesAmenagement[${index}].selected" value="true">
                    <input type="hidden" name="lignesAmenagement[${index}].typeLigneAmenagementId" value="${typeId}">
                    <input type="checkbox" class="form-check-input" checked disabled>
                </td>
                <td>
                    <span>${escapedLibelle}</span>
                    ${libelleLibreInput}
                </td>
                <td>
                    <input type="text"
                           class="form-control form-control-sm"
                           name="lignesAmenagement[${index}].commentairePrecision"
                           placeholder="Précision (ex : nom du logiciel)">
                </td>
                <td>
                    <span class="text-muted">Ajoutée et validée d’office</span>
                </td>
                <td></td>
                <td class="text-end">
                    <button type="button" class="btn btn-sm btn-outline-danger remove-ligne-amenagement">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            `;

            return row;
        }

        addButton.addEventListener('click', () => {
            const selectedOption = select.options[select.selectedIndex];

            if (!selectedOption || !selectedOption.value) {
                return;
            }

            const typeId = selectedOption.value;
            const libelle = selectedOption.dataset.libelle;
            const champLibre = selectedOption.dataset.champLibre === 'true';

            tbody.appendChild(createLigneAmenagementRow(typeId, libelle, champLibre));
            updateAvailableOptions();
        });

        tbody.addEventListener('click', event => {
            const removeButton = event.target.closest('.remove-ligne-amenagement');

            if (!removeButton) {
                return;
            }

            removeButton.closest('tr').remove();
            refreshIndexes();
            updateAvailableOptions();
        });

        updateAvailableOptions();
    });

    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('amenagementForm');
        if (!form) return;

        const saveButton = document.getElementById('save-button');
        const sendButton = document.getElementById('send-button');

        const submitForm = async (action) => {
            const url = new URL(form.action);
            url.searchParams.set('action', action);

            const data = {
                lignesAmenagement: []
            };

            // Collecte des données globales du DTO (si présentes et non désactivées)
            const typeAmenagement = form.querySelector('[name="typeAmenagement"]')?.value;
            if (typeAmenagement) data.typeAmenagement = typeAmenagement;

            const endDate = form.querySelector('[name="endDate"]')?.value;
            if (endDate) data.endDate = endDate;

            const tempsMajore = form.querySelector('[name="tempsMajore"]')?.value;
            if (tempsMajore) data.tempsMajore = tempsMajore;

            const autresTempsMajores = form.querySelector('[name="autresTempsMajores"]')?.value;
            if (autresTempsMajores) data.autresTempsMajores = autresTempsMajores;

            const autorisation = form.querySelector('[name="autorisation"]')?.value;
            if (autorisation) data.autorisation = autorisation;

            // Collecte des données des lignes d'aménagement
            const tbody = document.getElementById('lignesAmenagementBody');
            tbody.querySelectorAll('tr').forEach((row, index) => {
                const ligne = {};
                row.querySelectorAll('[name]').forEach(input => {
                    const nameParts = input.name.split('.');
                    const name = nameParts[nameParts.length - 1];
                    if (input.type === 'checkbox') {
                        ligne[name] = input.checked;
                    } else if (input.type === 'hidden' && (input.value === 'true' || input.value === 'false') && name !== 'id' && name !== 'typeLigneAmenagementId') {
                        ligne[name] = input.value === 'true';
                    } else if (input.value !== "" || name === "commentaireValidation" || name === "commentairePrecision") {
                        ligne[name] = input.value;
                    }
                });
                data.lignesAmenagement.push(ligne);
            });

            try {
                const response = await fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]')?.content
                    },
                    body: JSON.stringify(data)
                });

                const result = await response.json();

                // Affichage du message (utilise le fragment flash existant ou en crée un nouveau)
                let flashContainer = document.getElementById('flash-container');
                if (!flashContainer) {
                    flashContainer = document.createElement('div');
                    flashContainer.id = 'flash-container';
                    flashContainer.className = 'position-fixed top-0 end-0 p-3';
                    flashContainer.style.zIndex = '1060';
                    document.body.appendChild(flashContainer);
                }

                const toast = document.createElement('div');
                toast.className = `toast align-items-center text-white bg-${result.type === 'danger' ? 'danger' : 'success'} border-0 show`;
                toast.setAttribute('role', 'alert');
                toast.setAttribute('aria-live', 'assertive');
                toast.setAttribute('aria-atomic', 'true');
                toast.innerHTML = `
                    <div class="d-flex">
                        <div class="toast-body">${result.text}</div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                `;
                flashContainer.appendChild(toast);
                setTimeout(() => {
                    const bsToast = new bootstrap.Toast(toast);
                    bsToast.hide();
                    setTimeout(() => toast.remove(), 500);
                }, 5000);

                if (response.ok && action === 'send') {
                    window.location.href = '/referent/amenagements';
                } else if (response.ok) {
                    // Optionnel : recharger la partie tableau pour avoir les IDs si c'était des ajouts
                    setTimeout(() => window.location.reload(), 1000);
                }

            } catch (error) {
                console.error('Error:', error);
                alert('Une erreur est survenue lors de l\'enregistrement.');
            }
        };

        if (saveButton) {
            saveButton.addEventListener('click', () => submitForm('save'));
        }
        if (sendButton) {
            sendButton.addEventListener('click', () => submitForm('send'));
        }

        form.addEventListener('submit', (e) => {
            e.preventDefault();
        });
    });
</script>
</body>
</html>
