<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="enquete" type="java.util.List<org.esupportail.esupagape.entity.Enquete>"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="d-inline-flex">
            <div th:replace="fragments/side :: side"></div>
            <div class="agape-content agape-content-side">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/dossiers}" class="text-center ">Liste des dossiers</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{'/dossiers/' + ${currentDossier.id} + '/entretiens'}" class="text-center ">Liste des entretiens</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Nouvel entretien</li>
                    </ol>
                </nav>
                <div th:replace="fragments/tabs-years :: tabs-years"></div>
                <div th:replace="fragments/tabs-content :: tabs-content(active='enquetes')"></div>
                <div class="ms-4 me-4">
                    <div>
                        <div>
                            <div id="createTag" class=" d-flex justify-content-center">
                                <form id="enquete" class="form-horizontal">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" for="an"><strong>Année de naissance</strong></label>
                                            <div>
                                                <input id="an" name="an" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="typefrmn"><strong>Type formation</strong></label>
                                            <div>
                                                <select id="_typefrmn_id" name="typefrmn" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumTypefrmn == enquete.typefrmn}"
                                                            th:each="enumTypefrmn : ${typefrmns}"
                                                            th:value="${enumTypefrmn}"
                                                            th:text="#{'enquete.typefrmn.' + ${enumTypefrmn}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="modfrmn"><strong>Modalité formation</strong></label>
                                            <div>
                                                <select id="_modfrmn_id" name="modfrmn" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${enumModfrmn == enquete.modfrmn}"
                                                            th:each="enumModfrmn : ${modfrmns}"
                                                            th:value="${enumModfrmn}"
                                                            th:text="#{'enquete.modfrmn.'+ ${enumModfrmn}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codfil"><strong>Filière</strong></label>
                                            <div>
                                                <select id="_codfil_id" name="codfil" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${enumCodFil == enquete.codfil}"
                                                            th:each="enumCodfil : ${codfils}"
                                                            th:value="${enumCodfil}"
                                                            th:text="#{'enquete.codfil.' + ${enumCodfil}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codfmt"><strong>Cursus</strong></label>
                                            <div>
                                                <select id="_codfmt_id" name="codfmt" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${enumCodFmt == enquete.codfmt}"
                                                            th:each="enumCodfmt : ${codfmts}"
                                                            th:value="${enumCodfmt}"
                                                            th:text="#{'enquete.codfmt.' + ${enumCodfmt}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codsco"><strong>Année d'études</strong></label>
                                            <div>
                                                <select id="_codsco_id" name="codsco" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumCodSco == enquete.codsco}"
                                                            th:each="enumCodsco : ${codscos}"
                                                            th:value="${enumCodsco}"
                                                            th:text="#{'enquete.codsco.' + ${enumCodsco}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codhd"><strong>Type de handicap</strong></label>
                                            <div>
                                                <select id="_codhd_id" name="codhd" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumCodHd == enquete.codhd}"
                                                            th:each="enumCodHd : ${codHds}"
                                                            th:value="${enumCodHd}"
                                                            th:text="#{'enquete.codHd.' + ${enumCodHd}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" id="__id">
                                            <label class="control-label control-label" for="_hdtmp_id">Handicap temporaire:
                                            </label>
                                            <input id="_hdtmp_id" name="hdtmp" type="checkbox" value="true">
                                            <input type="hidden" name="_hdtmp" value="on">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="_com_id" class="col-md-3  control-label  control-label"><strong>Commentaire</strong></label>
                                            <div>
                                                <textarea id="_com_id" name="com" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codpfpp"><strong>Formation plan</strong></label>
                                            <div>
                                                <select id="_codpfpp_id" name="codpfpp" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumCodpfpp == enquete.codpfpp}"
                                                            th:each="enumCodpfpp : ${codpfpps}"
                                                            th:value="${enumCodpfpp}"
                                                            th:text="#{'enquete.codpfpp.' + ${enumCodpfpp}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codpfas"><strong>Formation aménagement</strong></label>
                                            <div>
                                                <select id="_codpfas_id" name="codpfas" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumCodPfas == enquete.codpfas}"
                                                            th:each="enumCodpfas : ${codpfass}"
                                                            th:value="${enumCodpfas}"
                                                            th:text="#{'enquete.codpfas.' + ${enumCodpfas}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codmeahF"><strong>Mesures aides humaines</strong></label>
                                            <div>
                                                <th:block th:each="enumCodMeahF : ${codMeahFs}">
                                                    <div>
                                                        <input th:selected="${enumCodMeahF == enquete.codmeahF}"
                                                                th:id="${enumCodMeahF}"
                                                                name="codmeahF"
                                                                size="1"
                                                                type="checkbox"
                                                                th:value="${enumCodMeahF}">
                                                        <label th:for="${enumCodMeahF}" th:text="#{'enquete.codMeahF.' + ${enumCodMeahF}}"></label>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" for="interpH"><strong>Interprète: nombre d'heures</strong></label>
                                            <div>
                                                <input id="interpH" name="interpH" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" for="codeurH"><strong>Codeur: nombre d'heures</strong></label>
                                            <div>
                                                <input id="codeurH" name="codeurH" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="_aidhnat_id" class="col-md-3  control-label  control-label"><strong>Autre aide humaine</strong></label>
                                            <div>
                                                <textarea id="_aidhnat_id" name="aidhnat" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codmeae"><strong>Aménagement des examens</strong></label>
                                            <div>
                                                <th:block th:each="enumCodmeae : ${codmeaes}">
                                                    <div>
                                                        <input th:selected="${enumCodMeae == enquete.Codmeae}"
                                                                th:id="${enumCodMeae}"
                                                                name="codmeae"
                                                                size="1"
                                                                type="checkbox"
                                                                th:value="${enumCodmeae}">
                                                        <label th:for="${enumCodmeae}" th:text="#{'enquete.codmeae.' + ${enumCodmeae}}"></label>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="_autae_id" class="col-md-3  control-label  control-label"><strong>Autre aménagement des examens</strong></label>
                                            <div>
                                                <textarea id="_autae_id" name="autae" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="col-md-3  control-label control-label" th:for="codmeaa"><strong>Autres aides</strong></label>
                                                <div>
                                                    <select id="_codmeaa_id" name="codpfas" class="form-select" size="1">
                                                        <option disabled selected value="nul">Choisir</option>
                                                        <option th:selected="${enumCodMeaa == enquete.codmeaa}"
                                                                th:each="enumCodmeaa : ${codmeaas}"
                                                                th:value="${enumCodmeaa}"
                                                                th:text="#{'enquete.codmeaa.' + ${enumCodmeaa}}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <label for="_autaa_id" class="col-md-3  control-label  control-label"><strong>Aides autres</strong></label>
                                            <div>
                                                <textarea id="_autaa_id" name="autaa" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                            <div class="form-group">
                                                <label class="col-md-3  control-label control-label" th:for="codaml"><strong>Autres mesures</strong></label>
                                                <div>
                                                    <th:block th:each="enumCodaml : ${codamls}">
                                                        <div>
                                                            <input th:selected="${enumCodaml == enquete.codamL}"
                                                                    th:id="${enumCodaml}"
                                                                    name="codamL"
                                                                    size="1"
                                                                    type="checkbox"
                                                                    th:value="${enumCodaml}">
                                                            <label th:for="${enumCodaml}" th:text="#{'enquete.codamL.' + ${enumCodaml}}"></label>
                                                        </div>
                                                    </th:block>
                                                </div>
                                            </div>
                                        <div class="submit form-group mb-3">
                                            <div class="btn-group"><span class="visible-lg-block visible-md-block visible-sm-block">
                                        <input class="btn btn-success" value="Enregistrer" type="submit" id="proceed"></span><span class="visible-xs-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
    </body>
</html>