<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="enquete" type="org.esupportail.esupagape.entity.Enquete"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="d-inline-flex">
            <div th:replace="fragments/side :: side"></div>
            <div class="agape-content agape-content-side">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/dossiers}" class="text-center ">Liste des dossiers</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{'/dossiers/' + ${currentDossier.id} + '/entretiens'}" class="text-center ">Liste des entretiens</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Nouvel entretien</li>
                    </ol>
                </nav>
                <div th:replace="fragments/tabs-years :: tabs-years"></div>
                <div th:replace="fragments/tabs-content :: tabs-content(active='enquetes')"></div>
                <div class="ms-4 me-4">
                    <div>
                        <div>
                            <div id="createTag" class=" d-flex justify-content-center">
                                <form id="enquete" class="form-horizontal">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" for="an"><strong>Année de naissance</strong></label>
                                            <div>
                                                <input id="an" name="an" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="typeFrmn"><strong>Type formation</strong></label>
                                            <div>
                                                <select id="_typeFrmn_id" name="typeFrmn" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumTypefrmn == enquete.typeFrmn}"
                                                            th:each="enumTypefrmn : ${typeFrmns}"
                                                            th:value="${enumTypefrmn}"
                                                            th:text="#{'enquete.typeFrmn.' + ${enumTypefrmn}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="modFrmn"><strong>Modalité formation</strong></label>
                                            <div>
                                                <select id="_modFrmn_id" name="modFrmn" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${enumModfrmn == enquete.modFrmn}"
                                                            th:each="enumModfrmn : ${modFrmns}"
                                                            th:value="${enumModfrmn}"
                                                            th:text="#{'enquete.modFrmn.'+ ${enumModfrmn}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codFil"><strong>Filière</strong></label>
                                            <div>
                                                <select id="_codFil_id" name="codFil" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${enumCodfil == enquete.codFil}"
                                                            th:each="enumCodfil : ${codFils}"
                                                            th:value="${enumCodfil}"
                                                            th:text="#{'enquete.codFil.' + ${enumCodfil}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codFmt"><strong>Cursus</strong></label>
                                            <div>
                                                <select id="_codFmt_id" name="codFmt" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${enumCodFmt == enquete.codFmt}"
                                                            th:each="enumCodfmt : ${codFmts}"
                                                            th:value="${enumCodfmt}"
                                                            th:text="#{'enquete.codFmt.' + ${enumCodfmt}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codSco"><strong>Année d'études</strong></label>
                                            <div>
                                                <select id="_codSco_id" name="codSco" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumCodSco == enquete.codSco}"
                                                            th:each="enumCodsco : ${codScos}"
                                                            th:value="${enumCodsco}"
                                                            th:text="#{'enquete.codSco.' + ${enumCodsco}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codHd"><strong>Type de handicap</strong></label>
                                            <div>
                                                <select id="_codHd_id" name="codHd" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumCodHd == enquete.codHd}"
                                                            th:each="enumCodHd : ${codHds}"
                                                            th:value="${enumCodHd}"
                                                            th:text="#{'enquete.codHd.' + ${enumCodHd}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" id="__id">
                                            <label class="control-label control-label" for="_hdTmp_id">Handicap temporaire:
                                            </label>
                                            <input id="_hdTmp_id" name="hdTmp" type="checkbox" value="true">
                                            <input type="hidden" name="_hdTmp" value="on">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="_com_id" class="col-md-3  control-label  control-label"><strong>Commentaire</strong></label>
                                            <div>
                                                <textarea id="_com_id" name="com" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codPfpp"><strong>Formation plan</strong></label>
                                            <div>
                                                <select id="_codPfpp_id" name="codPfpp" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumCodpfpp == enquete.codPfpp}"
                                                            th:each="enumCodpfpp : ${codPfpps}"
                                                            th:value="${enumCodpfpp}"
                                                            th:text="#{'enquete.codPfpp.' + ${enumCodpfpp}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codPfas"><strong>Formation aménagement</strong></label>
                                            <div>
                                                <select id="_codPfas_id" name="codPfas" class="form-select" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${enumCodPfas == enquete.codPfas}"
                                                            th:each="enumCodpfas : ${codPfass}"
                                                            th:value="${enumCodpfas}"
                                                            th:text="#{'enquete.codPfas.' + ${enumCodpfas}}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codMeahF"><strong>Mesures aides humaines</strong></label>
                                            <div>
                                                <th:block th:each="enumCodMeahF : ${codMeahFs}">
                                                    <div>
                                                        <input th:selected="${enumCodMeahF == enquete.codMeahF}"
                                                                th:id="${enumCodMeahF}"
                                                                name="codMeahF"
                                                                size="1"
                                                                type="checkbox"
                                                                th:value="${enumCodMeahF}">
                                                        <label th:for="${enumCodMeahF}" th:text="#{'enquete.codMeahF.' + ${enumCodMeahF}}"></label>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" for="interpH"><strong>Interprète: nombre d'heures</strong></label>
                                            <div>
                                                <input id="interpH" name="interpH" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" for="codeurH"><strong>Codeur: nombre d'heures</strong></label>
                                            <div>
                                                <input id="codeurH" name="codeurH" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="_aidhnat_id" class="col-md-3  control-label  control-label"><strong>Autre aide humaine</strong></label>
                                            <div>
                                                <textarea id="_aidhnat_id" name="aidhnat" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codMeae"><strong>Aménagement des examens</strong></label>
                                            <div>
                                                <th:block th:each="enumCodmeae : ${codMeaes}">
                                                    <div>
                                                        <input th:selected="${enumCodMeae == enquete.codMeae}"
                                                                th:id="${enumCodMeae}"
                                                                name="codMeae"
                                                                size="1"
                                                                type="checkbox"
                                                                th:value="${enumCodmeae}">
                                                        <label th:for="${enumCodmeae}" th:text="#{'enquete.codMeae.' + ${enumCodmeae}}"></label>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="_autae_id" class="col-md-3  control-label  control-label"><strong>Autre aménagement des examens</strong></label>
                                            <div>
                                                <textarea id="_autae_id" name="autae" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="col-md-3  control-label control-label" th:for="codMeaa"><strong>Autres aides</strong></label>
                                                <div>
                                                    <select id="_codMeaa_id" name="codPfas" class="form-select" size="1">
                                                        <option disabled selected value="nul">Choisir</option>
                                                        <option th:selected="${enumCodMeaa == enquete.codMeaa}"
                                                                th:each="enumCodmeaa : ${codMeaas}"
                                                                th:value="${enumCodmeaa}"
                                                                th:text="#{'enquete.codMeaa.' + ${enumCodmeaa}}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <label for="_autaa_id" class="col-md-3  control-label  control-label"><strong>Aides autres</strong></label>
                                            <div>
                                                <textarea id="_autaa_id" name="autaa" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                            <div class="form-group">
                                                <label class="col-md-3  control-label control-label" th:for="codaml"><strong>Autres mesures</strong></label>
                                                <div>
                                                    <th:block th:each="enumCodaml : ${codamls}">
                                                        <div>
                                                            <input th:selected="${enumCodaml == enquete.codAmL}"
                                                                    th:id="${enumCodaml}"
                                                                    name="codAmL"
                                                                    size="1"
                                                                    type="checkbox"
                                                                    th:value="${enumCodaml}">
                                                            <label th:for="${enumCodaml}" th:text="#{'enquete.codAmL.' + ${enumCodaml}}"></label>
                                                        </div>
                                                    </th:block>
                                                </div>
                                            </div>
                                        <div class="submit form-group mb-3">
                                            <div class="btn-group"><span class="visible-lg-block visible-md-block visible-sm-block">
                                        <input class="btn btn-success" value="Enregistrer" type="submit" id="proceed"></span><span class="visible-xs-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
    </body>
</html>