<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="contacts" type="java.util.List<org.esupportail.esupagape.entity.Enquete"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="row">
            <div class="agape-content agape-content-side">
                <div class="me-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/dossiers}" class="text-center">Liste des dossiers</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Liste des enquêtes</li>
                    </ol>
                    <div th:replace="fragments/tabs-years :: tabs-years"></div>
                   <!-- <div th:replace="fragments/tabs-content :: tabs-content(active='enquetes')"></div>-->


                    <div>
                        <div>
                            <div id="createTag" class=" d-flex justify-content-center">
                                <form id="enquete" class="form-horizontal">
                                    <div class="col-12">
                                        <div class="form-group" >
                                            <label class="col-md-3  control-label control-label" for="an"><strong>Année de naissance</strong></label>
                                            <div class="col-lg-6">
                                                <input id="an" name="an" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="typeFrmn"><strong>Type formation</strong></label>
                                            <div class="col-lg-6">
                                                <select id="typeFormation_id" name="typeFormation" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${TypeFrmn == enumTypeFrmn}" th:each="enumTypeFrmn : ${T(org.esupportail.esupagape.entity.enums.enquete.TypeFrmn).values()}" th:value="${enumTypeFrmn}" th:text="${enumTypeFrmn.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="modFrmn"><strong>Modalité formation</strong></label>
                                            <div class="col-lg-6">
                                                <select id="modaliteFormation_id" name="typeFormation" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${ModFrmn == enumModFrmn}" th:each="enumModFrmn : ${T(org.esupportail.esupagape.entity.enums.enquete.ModFrmn).values()}" th:value="${enumModFrmn}" th:text="${enumModFrmn.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codFil"><strong>Filière</strong></label>
                                            <div class="col-lg-6">
                                                <select id="_codFil_id" name="codFil" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${CodFil == enumCodFil}" th:each="enumCodFil : ${T(org.esupportail.esupagape.entity.enums.enquete.CodFil).values()}" th:value="${enumCodFil}" th:text="${enumCodFil.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codFmt"><strong>Cursus</strong></label>
                                            <div class="col-lg-6">
                                                <select id="_codFmt_id" name="codFmt" class="form-control" size="1">
                                                    <option disabled selected value="">Choisir</option>
                                                    <option th:selected="${CodFmt == enumCodFmt}" th:each="enumCodFmt : ${T(org.esupportail.esupagape.entity.enums.enquete.CodFmt).values()}" th:value="${enumCodFmt}" th:text="${enumCodFmt.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codSco"><strong>Année d'études</strong></label>
                                            <div class="col-lg-6">
                                                <select id="_codSco_id" name="codSco" class="form-control" size="1">
                                                    <option disabled selected  value="nul">Choisir</option>
                                                    <option th:selected="${CodSco == enumCodSco}" th:each="enumCodSco : ${T(org.esupportail.esupagape.entity.enums.enquete.CodSco).values()}" th:value="${enumCodSco}" th:text="${enumCodSco.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codHd"><strong>Type de handicap</strong></label>
                                            <div class="col-lg-6">
                                                <select id="_codHd_id" name="codHd" class="form-control" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${CodHd == enumCodHd}" th:each="enumCodHd : ${T(org.esupportail.esupagape.entity.enums.enquete.CodHd).values}" th:value="${enumCodHd}" th:text="${enumCodHd.libelle}"></option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" id="__id">
                                            <label class="control-label control-label" for="_hdTmp_id">Handicap temporaire:
                                            </label>
                                            <input id="_hdTmp_id" name="hdTmp" type="checkbox" value="true">
                                            <input type="hidden" name="_hdTmp" value="on">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="_com_id" class="col-md-3  control-label  control-label"><strong>Commentaire</strong></label>
                                            <div class="col-lg-6">
                                                <textarea id="_com_id" name="com" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codPfpp"><strong>Formation plan</strong></label>
                                            <div class="col-lg-6">
                                                <select id="_codPfpp_id" name="codPfpp" class="form-control" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${CodPfpp == enumCodPfpp}" th:each="enumCodPfpp : ${T(org.esupportail.esupagape.entity.enums.enquete.CodPfpp).values}" th:value="${enumCodPfpp}" th:text="${enumCodPfpp.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codPfas"><strong>Formation aménagement</strong></label>
                                            <div class="col-lg-6">
                                                <select id="_codPfas_id" name="codPfas" class="form-control" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${CodPfas == enumCodPfas}" th:each="enumCodPfas : ${T(org.esupportail.esupagape.entity.enums.enquete.CodPfas).values}" th:value="${enumCodPfas}" th:text="${enumCodPfas.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codMeahF"><strong>Mesures aides humaines</strong></label>
                                            <div class="col-lg-6">
                                                <div>
                                                    <input id="_codMeahF_id1" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs0">
                                                    <label for="_codMeahF_id1">aucune aide humaine spécifique</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id2" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs1">
                                                    <label for="_codMeahF_id2">interprète</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id3" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs1e">
                                                    <label for="_codMeahF_id3">interprète: lors des examens</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id4" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs1f">
                                                    <label for="_codMeahF_id4">interprète: cadre de la formation suivie</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id5" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs2">
                                                    <label for="_codMeahF_id5">codeur</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id6" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs2e">
                                                    <label for="_codMeahF_id6">codeur : lors des examens</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id7" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs2f">
                                                    <label for="_codMeahF_id7">codeur: cadre de la formation suivie</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id8" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs3">
                                                    <label for="_codMeahF_id8">preneur de notes</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id9" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs3o">
                                                    <label for="_codMeahF_id9">preneur de notes: ponctuelle</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id10" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs3p">
                                                    <label for="_codMeahF_id10">preneur de notes: permanente ou régulière</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id11" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs4">
                                                    <label for="_codMeahF_id11">soutien pédagogique ou tutorat en raison de la situation de handicap</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id12" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs5">
                                                    <label for="_codMeahF_id12">autre aide humaine spécifique</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id13" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs5o">
                                                    <label for="_codMeahF_id13">autre aide humaine spécifique: ponctuelle</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id14" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs5q">
                                                    <label for="_codMeahF_id14">autre aide humaine spécifique: quotidienne</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id15" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs5h">
                                                    <label for="_codMeahF_id15">autre aide humaine spécifique: hebdomadaire</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id16" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs5m">
                                                    <label for="_codMeahF_id16">autre aide humaine spécifique: mensuelle</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id17" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs5s">
                                                    <label for="_codMeahF_id17">autre aide humaine spécifique: semestrielle</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeahF_id18" name="codMeahF" size="1" multiple="true" type="checkbox" value="ahs5e">
                                                    <label for="_codMeahF_id18">autre aide humaine spécifique: lors des examens</label>
                                                </div>
                                                <input type="hidden" name="_codMeahF" value="on">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" for="interpH"><strong>Interprète: nombre d'heures</strong></label>
                                            <div class="col-lg-6">
                                                <input id="interpH" name="interpH" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" for="codeurH"><strong>Codeur: nombre d'heures</strong></label>
                                            <div class="col-lg-6">
                                                <input id="codeurH" name="codeurH" class="form-control" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="_aidhnat_id" class="col-md-3  control-label  control-label"><strong>Autre aide humaine</strong></label>
                                            <div class="col-lg-6">
                                                <textarea id="_aidhnat_id" name="aidhnat" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codMeae"><strong>Aménagement des examens</strong></label>
                                            <div class="col-lg-6">
                                                <div>
                                                    <input id="_codMeae_id1" name="codMeae" size="10" multiple="true" type="checkbox" value="ae0">
                                                    <label for="_codMeae_id1">aucun aménagement des examens</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id2" name="codMeae" size="10" multiple="true" type="checkbox" value="ae1">
                                                    <label for="_codMeae_id2">mise à disposition de matériel adapté</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id3" name="codMeae" size="10" multiple="true" type="checkbox" value="ae2">
                                                    <label for="_codMeae_id3">documents adaptés</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id4" name="codMeae" size="10" multiple="true" type="checkbox" value="ae3">
                                                    <label for="_codMeae_id4">secrétaire</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id5" name="codMeae" size="10" multiple="true" type="checkbox" value="ae4">
                                                    <label for="_codMeae_id5">épreuves aménagées</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id6" name="codMeae" size="10" multiple="true" type="checkbox" value="ae5">
                                                    <label for="_codMeae_id6">interprètes, codeurs, autre aide à la communication</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id7" name="codMeae" size="10" multiple="true" type="checkbox" value="ae6">
                                                    <label for="_codMeae_id7">salle particulière</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id8" name="codMeae" size="10" multiple="true" type="checkbox" value="ae7">
                                                    <label for="_codMeae_id8">temps majoré</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id9" name="codMeae" size="10" multiple="true" type="checkbox" value="ae8">
                                                    <label for="_codMeae_id9">temps de pause</label>
                                                </div>
                                                <div>
                                                    <input id="_codMeae_id10" name="codMeae" size="10" multiple="true" type="checkbox" value="aeo">
                                                    <label for="_codMeae_id10">autre aménagement (à préciser)</label>
                                                </div>
                                                <input type="hidden" name="_codMeae" value="on">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="_autae_id" class="col-md-3  control-label  control-label"><strong>Autre aménagement des examens</strong></label>
                                            <div class="col-lg-6">
                                                <textarea id="_autae_id" name="autae" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codMeaa"><strong>Autres aides</strong></label>
                                            <div class="col-lg-6">
                                                <select id="_codMeaa_id" name="codMeaa" class="form-control" size="1">
                                                    <option disabled selected value="nul">Choisir</option>
                                                    <option th:selected="${CodMeaa== enumCodMeaa}" th:each="enumCodMeaa : ${T(org.esupportail.esupagape.entity.enums.enquete.CodMeaa).values}" th:value="${enumCodMeaa}" th:text="${enumCodMeaa.libelle}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="_autaa_id" class="col-md-3  control-label  control-label"><strong>Aides autres</strong></label>
                                            <div class="col-lg-6">
                                                <textarea id="_autaa_id" name="autaa" class="form-control" rows="5" cols="50"></textarea>
                                                <br></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3  control-label control-label" th:for="codAmL"><strong>Autres mesures</strong></label>
                                            <div class="col-lg-6">
                                                <div>
                                                    <input id="_codAmL_id1" name="codAmL" size="10" multiple="true" type="checkbox" value="am00">
                                                    <label for="_codAmL_id1">Ne sais pas si l'étudiant en bénéficie</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id2" name="codAmL" size="10" multiple="true" type="checkbox" value="am1" >
                                                    <label for="_codAmL_id2">Accompagnement par un établissement ou un service médico-social</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id3" name="codAmL" size="10" multiple="true" type="checkbox" value="am10">
                                                    <label for="_codAmL_id3">non</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id4" name="codAmL" size="10" multiple="true" type="checkbox" value="am11">
                                                    <label for="_codAmL_id4">oui</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id5" name="codAmL" size="10" multiple="true" type="checkbox" value="am1x">
                                                    <label for="_codAmL_id5">ne sais pas</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id6" name="codAmL" size="10" multiple="true" type="checkbox" value="am2" >
                                                    <label for="_codAmL_id6">Accompagnement par un auxiliaire de vie (PCH ou ATP)</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id7" name="codAmL" size="10" multiple="true" type="checkbox" value="am20">
                                                    <label for="_codAmL_id7">non</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id8" name="codAmL" size="10" multiple="true" type="checkbox" value="am21">
                                                    <label for="_codAmL_id8">oui</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id9" name="codAmL" size="10" multiple="true" type="checkbox" value="am2x">
                                                    <label for="_codAmL_id9">ne sais pas</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id10" name="codAmL" size="10" multiple="true" type="checkbox" value="am3">
                                                    <label for="_codAmL_id10">Recours à un mode de transport spécifique</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id11" name="codAmL" size="10" multiple="true" type="checkbox" value="am30">
                                                    <label for="_codAmL_id11">non</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id12" name="codAmL" size="10" multiple="true" type="checkbox" value="am31">
                                                    <label for="_codAmL_id12">oui</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id13" name="codAmL" size="10" multiple="true" type="checkbox" value="am3x">
                                                    <label for="_codAmL_id13">ne sais pas</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id14" name="codAmL" size="10" multiple="true" type="checkbox" value="am4" >
                                                    <label for="_codAmL_id14">Reconnaissance de la qualité de travailleur handicapé (RQTH)</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id15" name="codAmL" size="10" multiple="true" type="checkbox" value="am40">
                                                    <label for="_codAmL_id15">non</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id16" name="codAmL" size="10" multiple="true" type="checkbox" value="am41">
                                                    <label for="_codAmL_id16">oui</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id17" name="codAmL" size="10" multiple="true" type="checkbox" value="am4x">
                                                    <label for="_codAmL_id17">ne sais pas</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id18" name="codAmL" size="10" multiple="true" type="checkbox" value="am5">
                                                    <label for="_codAmL_id18">Autre mesure relevant d’une décision de la CDA PH (carte d'invalidité, de stationnement,...)</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id19" name="codAmL" size="10" multiple="true" type="checkbox" value="am50">
                                                    <label for="_codAmL_id19">non</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id20" name="codAmL" size="10" multiple="true" type="checkbox" value="am51">
                                                    <label for="_codAmL_id20">oui</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id21" name="codAmL" size="10" multiple="true" type="checkbox" value="am5x">
                                                    <label for="_codAmL_id21">ne sais pas</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id22" name="codAmL" size="10" multiple="true" type="checkbox" value="am6">
                                                    <label for="_codAmL_id22">Accompagnement par un établissement ou un service sanitaire [mesure non CDA PH]</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id23" name="codAmL" size="10" multiple="true" type="checkbox" value="am60">
                                                    <label for="_codAmL_id23">non</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id24" name="codAmL" size="10" multiple="true" type="checkbox" value="am61">
                                                    <label for="_codAmL_id24">oui</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id25" name="codAmL" size="10" multiple="true" type="checkbox" value="am6x">
                                                    <label for="_codAmL_id25">ne sais pas</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id26" name="codAmL" size="10" multiple="true" type="checkbox" value="am7">
                                                    <label for="_codAmL_id26">Autre(s) intervenant(s) [mesure non CDA PH]</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id27" name="codAmL" size="10" multiple="true" type="checkbox" value="am70">
                                                    <label for="_codAmL_id27">non</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id28" name="codAmL" size="10" multiple="true" type="checkbox" value="am71">
                                                    <label for="_codAmL_id28">oui</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id29" name="codAmL" size="10" multiple="true" type="checkbox" value="am7x">
                                                    <label for="_codAmL_id29">ne sais pas</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id30" name="codAmL" size="10" multiple="true" type="checkbox" value="am8">
                                                    <label for="_codAmL_id30">Carte d'invalidité ou AAH</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id31" name="codAmL" size="10" multiple="true" type="checkbox" value="am80">
                                                    <label for="_codAmL_id31">non</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id32" name="codAmL" size="10" multiple="true" type="checkbox" value="am81">
                                                    <label for="_codAmL_id32">oui</label>
                                                </div>
                                                <div>
                                                    <input id="_codAmL_id33" name="codAmL" size="10" multiple="true" type="checkbox" value="am8x">
                                                    <label for="_codAmL_id33">ne sais pas</label>
                                                </div>
                                                <input type="hidden" name="_codAmL" value="on">
                                            </div>
                                        </div>
                                    <div  class="submit form-group mb-3">
                                        <div class="btn-group"><span class="visible-lg-block visible-md-block visible-sm-block"><input class="btn btn-success"
                                                value="Enregistrer"
                                                type="submit"
                                                id="proceed"></span><span class="visible-xs-block"></span>
                                        </div>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </main>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
    </body>
</html>