<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="row">
            <div th:replace="fragments/side :: side"></div>
            <div class="col pt-3">
                <a class="text-center">Retour à la liste des individus</a>
                <h1>La vue voir des entretiens</h1>

            </div>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
    </body>
</html>