<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
<!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
<!--/*@thymesVar id="amenagements" type="java.util.List<org.esupportail.esupagape.entity.Amenagement>"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="d-inline-flex">
    <div class="agape-content agape-content-side">
        <div class="m-3">
            <div class="row">
                <div class="col-12">
                    <div class="clearfix w-100">
                        <h4 class="float-start mt-3">Liste de tous les aménagements d'examens</h4>
                    </div>

                    <table class="table table-striped">
                        <thead class="text-start mt-2 mb-2 table-info">
                            <tr>
                                <th>Date create</th>
                                <th>Date fin</th>
                                <th>Nom</th>
                                <th>Temps majoré</th>
                                <th>Nom médecin</th>
                                <th>Statut</th>
                                <th>Questionnaire</th>
                                <th>Mail individu</th>
                                <th>Mail scolarité</th>
                                <th style="width: 200px;">Voir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="amenagement : ${amenagements}">
                                <tr>
                                    <td th:text="${#temporals.format(amenagement.getCreateDate, 'dd/MM/yyyy HH:mm')}"></td>
                                    <td th:text="${#temporals.format(amenagement.getEndDate, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${amenagement.dossier.individu.name + ' ' + amenagement.dossier.individu.firstName}"></td>
                                    <td th:text="#{'amenagement.tempMajore.' +${amenagement.getTempMajore()}}"></td>
                                    <td th:text="${amenagement.nomMedecin}"></td>
                                    <td th:text="#{'amenagement.status-amenagement.' +${amenagement.getStatusAmenagement()}}"></td>
                                    <td></td>
                                    <td th:text="${amenagement.mailIndividu}"></td>
                                    <td th:text="${amenagement.mailValideur}"></td>
                                    <td></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: black"></footer>
</body>
</html>