<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="amenagements" type="java.util.List<org.esupportail.esupagape.entity.Amenagement>"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="d-inline-flex">
            <div class="agape-content agape-content-side">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/dossiers}" class="text-center ">Liste des dossiers</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/administratif/amenagements(id=${amenagement.id})}" class="text-center">Liste des aménagements</a>
                        </li>
                    </ol>
                </nav>
                <div class="ms-4 me-4 mt-4">
                    <div class="row text-center" style="border: 2px solid black; background: cadetblue;">
                        <h4 th:text="'Aménagements d\'examen de ' +${#strings.toUpperCase(amenagement.dossier.individu.name) + ' ' + #strings.capitalize(#strings.toLowerCase(amenagement.dossier.individu.firstName))}"></h4>
                        <div class="row">
                            <div class="col-12 col-xxl-6">
                                <h5 th:text="'Statut administratif:' + ' ' + #{'amenagement.statusAmenagement.' +${amenagement.getStatusAmenagement()}}"></h5>
                            </div>
                            <div class="col-12 col-xxl-6">
                                <h5 th:text="${amenagement.mailIndividu} == false ? 'Statut mail de l\'individu: Envoyé': 'Statut mail de l\'individu: Non envoyé'"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ms-4 me-4">
                    <div class="row mt-2 text-center" style="border: 2px solid black;">
                        <span>CERTIFICAT D'AMENAGEMENT PRECISANT LES MESURES PARTICULIERES DES EXAMENS ET CONCOURS PACES POUR LES ETUDIANTS DE L'UNIVERSITE DE ROUEN</span>
                    </div>
                </div>
                <div class="mt-2 text-center">
                    <p style="font-size: 10pt;"> Loi n°2005-102 du 11 fevrier 2005<br> Pour l’egalité des droits et des chances, la participation et la citoyenneté des personnes handicapées.<br> Décret n°2005-1617 du 21 Decembre 2005 (B.O. n°3 du 09 Janvier 2006)<br> Circulaire n°2011-220 du 27 Decembre 2011(B.O. n°2 du 12 janvier 2012)
                    </p>
                </div>

                <div class="mt-2 ms-4 me-4">
                    <form id="amenagement" th:method="put" th:action="@{/administratif/amenagements/{amenagementId}/show(amenagementId=${amenagement.id})}" th:object="${amenagement}">
                        <div class="m-3">
                            <div class="row">
                                <div class="col-12 col-xxl-6">
                                    <dl class="row">
                                        <dt class="col-sm-4">N° Étudiant:</dt>
                                        <dd class="col-sm-8" th:utext="${amenagement.dossier.individu.numEtu}"></dd>
                                        <dt class="col-sm-4">Nom:</dt>
                                        <dd class="col-sm-8" th:utext="${#strings.toUpperCase(amenagement.dossier.individu.name)}"></dd>
                                        <dt class="col-sm-4">Prénom:</dt>
                                        <dd class="col-sm-8" th:utext="${amenagement.dossier.individu.firstName}"></dd>
                                        <dt class="col-sm-4">Née le:</dt>
                                        <dd class="col-sm-8" th:utext="${#temporals.format(amenagement.dossier.individu.dateOfBirth, 'dd/MM/yyyy')}"></dd>
                                        <dt class="col-sm-4">Adresse:</dt>
                                        <dd class="col-sm-8" th:utext="${amenagement.dossier.individu.currentAddress}"></dd>
                                        <dt class="col-sm-4">Etablissement:</dt>
                                        <dd class="col-sm-8" th:utext="${amenagement.dossier.site}"></dd>
                                    </dl>
                                </div>
                                <div class="row mt-2 text-center" style="border: 2px solid black;">
                                    <span>MEDECIN DESIGNE PAR LA C.D.A.P.H DU DEPARTEMENT 76 </span>
                                </div>
                                <div class="col-12 col-xxl-6 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">Date de fin de l'aménagement:</dt>
                                        <dd class="col-sm-8" th:text="${amenagement.endDate != null} ? ${#temporals.format(amenagement.getEndDate, 'dd/MM/yyyy')} : #{'amenagement.typeAmenagement.' +${amenagement.typeAmenagement.CURSUS}}"></dd>
                                        <dt class="col-sm-4">Types d'épreuves concernés:</dt>
                                        <dd class="col-sm-8">
                                            <ul class="list-group" th:each="typeEpreuve : ${amenagement.getTypeEpreuves()}">
                                                <li th:text="#{'amenagement.typeEpreuve.' + ${typeEpreuve}}"></li>
                                            </ul>
                                        </dd>
                                        <dt class="col-sm-4">Autres types d'épreuves:</dt>
                                        <dd class="col-sm-8"  th:text="${amenagement.autresTypeEpreuve}">
                                        </dd>
                                        <dt class="col-sm-4">Temps majoré:</dt>
                                        <dd class="col-sm-8" th:text="#{'amenagement.tempsMajore.' +${amenagement.getTempsMajore()}}"></dd>
                                        <dt class="col-sm-4">Autres temps majorés:</dt>
                                        <dd class="col-sm-8" th:text="${amenagement.autresTempsMajores}"></dd>
                                        <dt class="col-sm-4">Aménagements:</dt>
                                        <dd class="col-sm-8">
                                            <ul class="list-group">
                                                <th:block th:each="textAmenagement, iterator : ${amenagement.amenagementText.split('\r\n')}">
                                                    <li th:text="${iterator.index + 1} + ' - ' + ${textAmenagement}"></li>
                                                </th:block>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="mt-4 row text-center" th:if="${{amenagement.nomMedecin != null || amenagement.nomValideur != null}}">
                                    <div class="col-6">
                                        <p th:text="' Avis établi à Mont Saint Aignan le :' + ' ' +${#temporals.format(amenagement.valideMedecinDate, 'dd/MM/yyyy')}"></p>
                                        <h5 th:text="'Nom du médecin:' +' '+${amenagement.nomMedecin}"></h5>
                                    </div>
                                    <div class="col-6">
                                        <p th:text="'Avis validé par l\'administration à Mont Saint Aignan le :' + ' ' +${#temporals.format(amenagement.administrationDate, 'dd/MM/yyyy')}">
                                            Avis validé par l'administration à Mont Saint Aignan le :
                                        </p>
                                        <h5 th:text="'Nom du valideur:' +' '+${amenagement.nomValideur}"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 text-center">
                            <p style="font-size: 14px;">Ce document est un avis transmis à l’autorité administrative pour décision.</p>
                            <p style="font-size: 14px;">Les recours suivants contre cette décision peuvent être intentés dans un délai de deux mois:</p>
                            <ul style="font-style: italic;font-size: 14px;">
                                <li>Le recours gracieux ou hierarchique devant le président de l’Université</li>
                                <li>Le recours contentieux devant le tribunal administratif de Rouen</li>
                            </ul>
                        </div>


                    </form>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
    </body>
</html>