<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="currentDossier" type="org.esupportail.esupagape.entity.Dossier"*/-->
    <!--/*@thymesVar id="amenagements" type="java.util.List<org.esupportail.esupagape.entity.Amenagement>"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="d-inline-flex">
            <div th:replace="fragments/side-administratif :: side"></div>
            <div class="float-buttons">
                <button title="Valider l'aménagement"
                        type="button"
                        class="btn btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#validationModal"
                        th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDER_MEDECIN)}">
                    <i class="bi bi-check-lg"></i>
                </button>
                <button title="Refuser l'aménagement"
                        type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#refusModal"
                        th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDER_MEDECIN)}">
                    <i class="bi bi-x-lg"></i>
                </button>
                <a th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VISER_ADMINISTRATION)}"
                        th:href="@{/administratif/amenagements/{id}/get-certificat?type=download(id=${amenagement.id})}"
                        class="btn btn-primary"
                        title="Télécharger le certificat">
                    <i class="bi bi-file-earmark-lock-fill" style="font-size: 22px"></i>
                </a>
            </div>
            <div class="agape-content agape-content-side">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/dossiers}" class="text-center ">Liste des dossiers</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/administratif/amenagements}" class="text-center">Liste des aménagements</a>
                        </li>
                    </ol>
                </nav>

                    <dl class="row">
                        <dt class="col-sm-2">Formation</dt>
                        <dd class="col-sm-10" th:text="${currentDossier.libelleFormation}"></dd>
                        <dt class="col-sm-2">Formation précédente</dt>
                        <dd class="col-sm-10" th:text="${currentDossier.libelleFormationPrec}"></dd>
                    </dl>

                <div class="col-12 text-center" style="height: 90%">
                    <embed th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDER_MEDECIN)}"
                            th:src="@{/administratif/amenagements/{id}/get-avis#toolbar=0&navpanes=0&scrollbar=0&zoom=100(id=${amenagement.id})}"
                            width="80%"
                            height="100%"
                            aria-expanded="false" />
                    <embed th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VISER_ADMINISTRATION)}"
                            th:src="@{/administratif/amenagements/{id}/get-certificat#toolbar=0&navpanes=0&scrollbar=0&zoom=100(id=${amenagement.id})}"
                            width="80%"
                            height="100%"
                            aria-expanded="false" />
                </div>
                <div class="d-none">
                    <div class="ms-4 me-4 mt-4">
                        <div class="row text-center" style="border: 2px solid black; background: cadetblue;">
                            <h4 th:text="'Aménagements d\'examen de ' +${#strings.toUpperCase(amenagement.dossier.individu.name) + ' ' + #strings.capitalize(#strings.toLowerCase(amenagement.dossier.individu.firstName))}"></h4>
                            <div class="row">
                                <div class="col-12 col-xxl-6">
                                    <h5 th:text="'Statut administratif:' + ' ' + #{'amenagement.statusAmenagement.' +${amenagement.getStatusAmenagement()}}"></h5>
                                </div>
                                <div class="col-12 col-xxl-6">
                                    <h5 th:text="${amenagement.mailIndividu} == false ? 'Statut mail de l\'individu: Envoyé': 'Statut mail de l\'individu: Non envoyé'"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="modal fade"
                id="validationModal"
                tabindex="-1"
                aria-labelledby="validationModalLabel"
                aria-hidden="true"
                th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDER_MEDECIN)}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="validationModalLabel">Valider l’aménagement d’examen</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:method="post" th:action="@{/administratif/amenagements/{amenagementId}/validation(amenagementId=${amenagement.id})}">
                        <div class="modal-body">
                            Merci de confirmer la validation de l’aménagement
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade"
                id="refusModal"
                tabindex="-1"
                aria-labelledby="refusModalLabel"
                aria-hidden="true"
                th:if="${amenagement.statusAmenagement.equals(T(org.esupportail.esupagape.entity.enums.StatusAmenagement).VALIDER_MEDECIN)}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="refusModalLabel">Refuser l’aménagement d’examen</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:method="post" th:action="@{/administratif/amenagements/{amenagementId}/refus(amenagementId=${amenagement.id})}">
                        <div class="modal-body">
                            Merci de confirmer le refus de l’aménagement et de préciser un motif
                            <textarea name="motif" required class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-danger">Refuser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
    </body>
</html>