<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>
<tr th:fragment="header">
    <td width="100%" style="background-color:#343a40; border-bottom:1px solid rgba(0, 0, 0, 0.125); margin-bottom:0; padding:8px 15px; width:100%;" bgcolor="#343a40">
        <img src="cid:logo-univ" height="40" alt="" style="border-style:none; vertical-align:middle; display:inline-block; height:40px; max-height:40px; width:auto;">
        <img src="cid:logo-eh" height="40" alt="" style="border-style:none; vertical-align:middle; display:inline-block; height:40px; max-height:40px; width:auto; margin-left:8px; margin-right:8px;">
    </td>
</tr>
</body>
</html>
