<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="contacts" type="java.util.List<org.esupportail.esupagape.entity.Contact>"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="row">
            <div th:replace="fragments/side :: side"></div>
            <div class="col pt-3">
                <div class="mb-3">
                    <a th:href="@{/templates/dossiers}" class="text-center ">Retour à la liste des individus</a>
                </div>
                <div th:replace="fragments/tabs-years :: tabs-years"></div>
                <div th:replace="fragments/tabs-content :: tabs-content(active='contacts')"></div>
                <form  th:method="post" th:action="@{/individus/{id}/dossiers/{year}/contacts/create(id=${currentDossier.individu.id},year=${year})}">
                    <div class="mb-3 mt-3">
                        <label for="exampleInputEmail1" class="form-label">Date du contact</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                           Courrier
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Mail
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault3">
                          Rendez-vous
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                        <label class="form-check-label" for="flexRadioDefault4">
                            Tel
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Interlocuteur</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="interlocuteur">
                    </div>
                    <div>
                        <label>Compte rendu</label>
                        <textarea class="form-control" cols="2"  id="floatingTextarea"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
            </div>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
    </body>
</html>