<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
    <!--/*@thymesVar id="contacts" type="java.util.List<org.esupportail.esupagape.entity.Contact>"*/-->
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="row">
            <div th:replace="fragments/side :: side"></div>
            <div class="col pt-3">
                <div class="mb-3">
                    <a th:href="@{/templates/dossiers}" class="text-center ">Retour à la liste des individus</a>
                </div>
                <div th:replace="fragments/tabs-years :: tabs-years"></div>
                <div th:replace="fragments/tabs-content :: tabs-content(active='contacts')"></div>
                <div>
                    <div>
                        <a class="btn btn-primary mt-3" type="button"> Ajouter </a>
                    </div>
                </div>
                <h1>Page des contacts des dossiers à créer</h1>
                <table class="table">
                    <thead class="table table-info table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Interlocuteur</th>
                            <th>Compte rendu</th>
                            <th>Voir</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="contact : ${contacts}">
                            <td></td>
                            <td></td>
                            <td th:text="${contact.interlocuteur}"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </main>
        <footer th:replace="fragments/footer :: black"></footer>
        <div th:replace="fragments/flash :: flash"></div>
    </body>
</html>