<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="individu" type="org.esupportail.esupagape.entity.Individu"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="d-inline-flex">
    <div th:replace="fragments/side :: side"></div>
    <div class="agape-content agape-content-side">
        <div class="mb-3">
            <a th:href="@{/dossiers}" class="text-center ">Liste des dossiers</a>
        </div>
        <div th:replace="fragments/tabs-years :: tabs-years"></div>
        <div th:replace="fragments/tabs-content :: tabs-content(active='dossier')"></div>
        <div class="m-3">
            <form id="form-dossier" class="mb-1" th:action="@{'/dossiers/' + ${currentDossier.id}}" th:method="put" th:object="${currentDossier}">
            <div class="row">
                <div class="col-6">
                    <h4>Situation</h4>
                    <hr>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="classification">Classification du handicap</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <select disabled id="classification" name="classification" type="text" class="form-select" th:value="${currentDossier.classification}">
                            <option value="" disabled selected>Choisir</option>
                            <option th:selected="${currentDossier.classification == classification}" th:each="classification : ${classifications}" th:text="#{'dossier.classification.' +${classification}}" th:value="${classification}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="etat">Etat</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <select disabled id="etat" name="etat" type="text" class="form-select" th:value="${currentDossier.etat}">
                            <option value="" disabled selected>Choisir</option>
                            <option th:selected="${currentDossier.etat == etat}" th:each="etat : ${etats}" th:text="#{'dossier.etat.' +${etat}}" th:value="${etat}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="mdph">Suivi MDPH</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <select disabled id="mdph" name="mdph" type="text" class="form-select" th:value="${currentDossier.mdph}">
                            <option value="" disabled selected>Choisir</option>
                            <option th:selected="${currentDossier.mdph == mdph}" th:each="mdph : ${mdphs}" th:text="#{'dossier.mdph.' +${mdph}}" th:value="${mdph}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="taux">Taux</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <input disabled id="taux" name="taux" type="number" min="0" max="100" class="form-control" th:value="${currentDossier.taux}">
                        </div>
                    </div>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="typeSuiviHandisup">Suivi handisup</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <select disabled id="typeSuiviHandisup" name="typeSuiviHandisup" type="text" class="form-select" th:value="${currentDossier.typeSuiviHandisup}">
                            <option value="" disabled selected>Choisir</option>
                            <option th:selected="${currentDossier.typeSuiviHandisup == typeSuiviHandisup}" th:each="typeSuiviHandisup : ${typeSuiviHandisups}" th:text="#{'dossier.type-suivi-handisup.' +${typeSuiviHandisup}}" th:value="${typeSuiviHandisup}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="suiviHandisup">Commentaire handisup</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <input disabled id="suiviHandisup" name="suiviHandisup" type="text" class="form-control" th:value="${currentDossier.suiviHandisup}">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h4>Parcours</h4>
                    <hr>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="libelleFormation">Formation</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                            <textarea rows="3" disabled id="libelleFormation" class="form-control" style="min-height:60px; resize: none;" th:text="${currentDossier.libelleFormation}"></textarea>
                        </div>
                    </div>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="site">Lieu de formation</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <input disabled id="site" type="text" class="form-control" th:value="${currentDossier.site}">
                        </div>
                    </div>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="composante">Composante</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <input disabled id="composante" type="text" class="form-control" th:value="${currentDossier.composante}">
                        </div>
                    </div>
                    <div class="row mb-1 align-items-baseline">
                        <div class="col-4" style="width: 250px;">
                        <label class="form-label" for="rentreeProchaine">Choix pour la rentrée prochaine</label>
                        </div>
                        <div class="col-12 col-xxl-8">
                        <select disabled id="rentreeProchaine" name="rentreeProchaine" type="text" class="form-select" th:value="${currentDossier.rentreeProchaine}">
                            <option value="" disabled selected>Choisir</option>
                            <option th:selected="${currentDossier.rentreeProchaine == rentreeProchaine}" th:each="rentreeProchaine : ${rentreeProchaines}" th:text="#{'dossier.rentree-prochaine.' +${rentreeProchaine}}" th:value="${rentreeProchaine}"></option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-inline">
                <input onclick="unlockForm(this);" id="unlock-dossier" type="button" value="Modifier le dossier" class="btn btn-warning">
                <input onclick="lockForm();" id="lock-dossier" type="button" value="Annuler" class="btn btn-danger d-none">
                <input id="submit-dossier" type="submit" value="Enregister" class="btn btn-success d-none">
            </div>
            </form>
            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#notes-modal">Voir les notes</button>
            <div class="modal fade" id="notes-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Notes</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p th:text="${extendedInfos.noteS1}"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: black"></footer>
<div th:replace="fragments/flash :: flash"></div>
</body>
</html>